<template>
    <div id="chart">
      <apexchart type="pie" height="225" :options="chartOptions" :series="series"></apexchart>
    </div>
</template>
<script>
/* eslint-disable */
export default {
    data() {
      return {
          series: [0, 0, 0, 4, 20],
          chartOptions: {
            chart: {
              height: 225,
              type: 'pie',
            },
            labels: ['Yielding', 'Waiting', 'Idle', 'Abnormal', 'Disconnect'],
            responsive: [{
              breakpoint: 480,
              options: {
                chart: {
                  width: 200
                },
                legend: {
                  position: 'bottom'
                }
              }
            }]
          },  
      }
    }
}
</script>
<style scoped>

</style>