<template>
    <div id="chart">
      <apexchart type="pie" height="225" :options="chartOptions" :series="series"></apexchart>
    </div>
</template>
<script>
/* eslint-disable */
var initInterval = null;
export default {
    data() {
      return {
          date: new Date(),
          chartOptions: {
            chart: {
              height: 225,
              type: 'pie',
            },
            labels: ['Yielding', 'Waiting', 'Idle', 'Abnormal', 'Disconnect'],
            responsive: [{
              breakpoint: 480,
              options: {
                chart: {
                  width: 200
                },
                legend: {
                  position: 'bottom'
                }
              }
            }]
          },  
      }
    },
    computed:{
      series(){
        return this.$store.getters.status.product;
      }
    }
}
</script>
<style scoped>

</style>