<template>
    <div id="chart">
      <apexchart type="area" height="350" :options="chartOptions" :series="series"></apexchart>
    </div>
</template>
<script>
/* eslint-disable */
export default {
    data() {
      return {
          date: new Date(),
          chartOptions: {
            chart: {
              height: 350,
              type: 'area'
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              curve: 'smooth'
            },
            xaxis: {
              type: 'datetime',
              // categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
            },
            tooltip: {
              x: {
                format: 'dd/MM/yy HH:mm'
              },
            },
          },
      }
    },
    computed:{
      series(){
        let date = this.date;
        let date1 = new Date(date), date2 = new Date(date),date3 = new Date(date),date4 = new Date(date),date5 = new Date(date),date6 = new Date(date),date7 = new Date(date),date8 = new Date(date);
        date2.setDate(date2.getDate() - 1);
        date3.setDate(date3.getDate() - 2);
        date4.setDate(date4.getDate() - 3);
        date5.setDate(date5.getDate() - 4);
        date6.setDate(date6.getDate() - 5);
        date7.setDate(date7.getDate() - 6);
        date1 = date1.toISOString();
        date2 = date2.toISOString();
        date3 = date3.toISOString();
        date4 = date4.toISOString();
        date5 = date5.toISOString();
        date6 = date6.toISOString();
        date7 = date7.toISOString();
        let result = [{
            name: 'Machine Tool',
            data: [{x: date1, y: 0}, {x: date2, y: 1}, {x: date3, y: 2}, {x: date4, y: 1}, {x: date5, y: 0}, {x: date6, y: 1}, {x: date7, y: 0}],
          }, {
            name: 'Product Line',
            data: [{x: date1, y: 2}, {x: date2, y: 0}, {x: date3, y: 1}, {x: date4, y: 0}, {x: date5, y: 0}, {x: date6, y: 1}, {x: date7, y: 0}]
          },
          {
            name: 'Printer Machine',
            data: [{x: date1, y: 4}, {x: date2, y: 3}, {x: date3, y: 2}, {x: date4, y: 4}, {x: date5, y: 1}, {x: date6, y: 2}, {x: date7, y: 2}]
          }]
        return result;
      }
    }
}
</script>
<style scoped>

</style>