<template>
  <div id="chart">
    <apexchart type="line" height="350" :options="chartOptions" :series="series"></apexchart>
  </div>
</template>
<script>
/* eslint-disable */
let initInterval = null;
export default {
  data() {
    return {
      date: new Date(),
      chartOptions: {
        chart: {
          height: 350,
          type: "line"
        },
        stroke: {
          width: [0, 4]
        },
        dataLabels: {
          enabled: true,
          enabledOnSeries: [1]
        },
        labels: ["Machine Tool", "Product Line", "Printer Machine"],
        yaxis: [
          {
            opposite: true,
            title: {
              text: "Social Media"
            }
          }
        ]
      }
    };
  },
  computed: {
    series() {
      let date = this.date;
      date.setHours(date.getHours() + 8);
      date = date.toISOString();
      let base = Number.parseInt(date.slice(11, 13));
      let result = [
        {
          name: "Working Hours",
          type: "column",
          data: [
            Math.round(base * 0.7 * 10) / 10,
            Math.round(base * 0.6 * 10) / 10,
            0
          ]
        },
        {
          name: "Failure Hours",
          type: "line",
          data: [0, Math.round(base * 0.2 * 10) / 10, new Date().getHours()]
        }
      ];
      return result;
    }
  }
};
</script>
<style scoped>
</style>