<template>
<!-- eslint-disable  -->
    <div class="content" style="width:100%;height:100%;bakcground:black;">
        <div class="row">
            <div class="col-12" >
                <a class="button button--secondary" href="/#/factory" style="float:left;padding-left:.5rem;padding-right:.5rem;">
                    <i aria-hidden="true" class="iconMdsp arrowSingleLeft"></i>Back
                </a>
            </div>
        </div>
        <div class="row" style="margin-bottom:0rem;padding:1rem;">
                <div class="col-3">
                    <div class="row" style="padding-right:1rem;">
                        <div class="card">
                            <div class="card__content" style="padding:1rem;">
                                <VueSvgGauge
                                class="gauge"
                                :start-angle="-90"
                                :end-angle="90"
                                :value="aCrest"
                                :separator-step="20"
                                :scale-interval="10"
                                :inner-radius="80"
                                >
                                <div class="inner-text">
                                    <span><b>aCrest</b><br>{{aCrest}} mm/s^2</span>
                                </div>
                                </VueSvgGauge>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right:1rem;">
                        <div class="card">
                            <div class="card__content" style="padding:1rem;">
                                <VueSvgGauge
                                class="gauge"
                                :start-angle="-90"
                                :end-angle="90"
                                :value="vCrest"
                                :separator-step="20"
                                :scale-interval="10"
                                :inner-radius="80"
                                >
                                <div class="inner-text">
                                    <span><b>vCrest</b><br>{{vCrest}} mm/s^2</span>
                                </div>
                                </VueSvgGauge>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-3">

                    <div class="row">
                        <div class="card">
                            <div class="card__content" style="padding:1rem;">
                                <VueSvgGauge
                                class="gauge"
                                :start-angle="-90"
                                :end-angle="90"
                                :value="Ambient_Temp"
                                :separator-step="20"
                                :scale-interval="10"
                                :inner-radius="80"
                                >
                                <div class="inner-text">
                                    <span><b>Ambient_Temp</b><br>{{Ambient_Temp}} C</span>
                                </div>
                                </VueSvgGauge>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card">
                            <div class="card__content" style="padding:1rem;">
                                <VueSvgGauge
                                class="gauge"
                                :start-angle="-90"
                                :end-angle="90"
                                :value="Motor_Temp"
                                :separator-step="20"
                                :scale-interval="10"
                                :inner-radius="80"
                                >
                                <div class="inner-text">
                                    <span><b>Motor_Temp</b><br>{{Motor_Temp}} C</span>
                                </div>
                                </VueSvgGauge>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <HeatMap/>
                </div>
                <div class="col-3">
                    <!-- <mdsp-aggregate-chart style="widtth:100%;" error-notification="true" class="component-border"
                                wheel-zoom="true" shared-assets="true"></mdsp-aggregate-chart> -->
                        <LineChart/>
                </div>
        </div>
        <div class="row align-items-end" style="height:65%;bakcground:black;">
        <MachineTool style="width:100%;height:100%;"/>
        </div>
    </div>
</template>
<script>
/* eslint-disable */
import MachineTool from '../svg/MachineToolSVG'
import HeatMap from '../charts/heatmap/ProductLine'
import LineChart from '../charts/line/ProductLine'
export default {
    name: 'ProductLine',
    components:{
        MachineTool,
        HeatMap,
        LineChart
    },
    computed:{
        aCrest(){
            return this.$store.getters.aCrest;
        },
        vCrest(){
            return this.$store.getters.vCrest;
        },
        Motor_Temp(){
            return this.$store.getters.Motor_Temp;
        },
        Ambient_Temp(){
            return this.$store.getters.Ambient_Temp;
        }
    }
}
</script>
<style scoped>
.content{
    margin: auto;
    padding:1rem 1rem 1rem 5.9rem;
}
.inner-text {
    height: 150px;
    line-height: 150px;
    text-align: center;
  }
.inner-text span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.gauge{
    height: 125px;
}
</style>