<template>
<!-- eslint-disable  -->
    <div class="content" style="width:100%;height:100%;bakcground:black;">
        <div class="row">
            <div class="col-1" >
                <a class="button button--secondary" href="/#/factory" style="float:left;padding-left:.5rem;padding-right:.5rem;">
                    <i aria-hidden="true" class="iconMdsp arrowSingleLeft"></i>Back
                </a>
            </div>
            <div class="col-11" >
                <div class="messageWrapper" style="margin:auto;width:88%;">
                    <div class="message is-alert message--withIcon">
                        <h1 class="message__headline">Error Occurred</h1>
                        <p>
                            Machine down for some reasons that needs to be repaired.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:0rem;padding:1rem;">
                <div class="col-4" style="padding:1rem;">
                    <div class="row">
                        <div class="card">
                            <div class="card__content" style="padding:1rem;">
                                <VueSvgGauge
                                class="gauge"
                                :start-angle="-90"
                                :end-angle="90"
                                :value="50"
                                :separator-step="20"
                                :scale-interval="10"
                                :inner-radius="80"
                                >
                                <div class="inner-text">
                                    <span><b>Power In</b><br>{{50}} kW</span>
                                </div>
                                </VueSvgGauge>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card">
                            <div class="card__content" style="padding:1rem;">
                                <VueSvgGauge
                                class="gauge"
                                :start-angle="-90"
                                :end-angle="90"
                                :value="50"
                                :separator-step="20"
                                :scale-interval="10"
                                :inner-radius="80"
                                >
                                <div class="inner-text">
                                    <span><b>Power In</b><br>{{50}} kW</span>
                                </div>
                                </VueSvgGauge>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-4" style="padding:1rem;">

                    <div class="row">
                        <div class="card">
                            <div class="card__content" style="padding:1rem;">
                                <VueSvgGauge
                                class="gauge"
                                :start-angle="-90"
                                :end-angle="90"
                                :value="50"
                                :separator-step="20"
                                :scale-interval="10"
                                :inner-radius="80"
                                >
                                <div class="inner-text">
                                    <span><b>Power In</b><br>{{50}} kW</span>
                                </div>
                                </VueSvgGauge>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card">
                            <div class="card__content" style="padding:1rem;">
                                <VueSvgGauge
                                class="gauge"
                                :start-angle="-90"
                                :end-angle="90"
                                :value="50"
                                :separator-step="20"
                                :scale-interval="10"
                                :inner-radius="80"
                                >
                                <div class="inner-text">
                                    <span><b>Power In</b><br>{{50}} kW</span>
                                </div>
                                </VueSvgGauge>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <mdsp-aggregate-chart style="widtth:100%;" error-notification="true" class="component-border"
                                wheel-zoom="true" shared-assets="true"></mdsp-aggregate-chart>
                </div>
        </div>
        <div class="row align-items-end" style="height:65%;bakcground:black;">
        <Machine style="width:100%;height:100%;"/>
        </div>
    </div>
</template>
<script>
/* eslint-disable */
import Machine from '../svg/PrinterSVG'
export default {
    name: 'ProductLine',
    components:{
        Machine
    }
}
</script>
<style scoped>
.content{
    margin: auto;
    padding:1rem 1rem 1rem 5.9rem;
}
.inner-text {
    height: 150px;
    line-height: 150px;
    text-align: center;
  }
  .inner-text span{
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
.gauge{
    height: 125px;
}
</style>