<template>
<!-- eslint-disable  -->
    <div class="content" style="width:100%;height:100%;">
        <div class="row" style="margin-bottom:0rem;">
            <div class="col-12">
                <div class="row">
                    <div class="col-12" >
                        <a class="button button--secondary" href="/#/factory" style="float:left;padding-left:.5rem;padding-right:.5rem;">
                            <i aria-hidden="true" class="iconMdsp arrowSingleLeft"></i>Back
                        </a>
                        <!-- <a class="button button--secondary" href="/#/report" style="float:right;padding-left:.5rem;padding-right:.5rem;margin-right:1rem;">
                            <i aria-hidden="true" class="iconMdsp download bold"></i>PDF
                        </a> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-4" style="padding:1rem;">
                        <div class="card">
                            <div class="card__header">

                                <h3 class="card__title">
                                Productivity
                                </h3>
                                <hr>
                            </div>
                            <div class="card__content">
                                <MachineToolPro/>
                            </div>
                            <div class="card__footer is-left-aligned">
                            </div>
                        </div>
                    </div>
                    <div class="col-4" style="padding:1rem;">
                        <div class="card">
                            <div class="card__header">

                                <h3 class="card__title">
                                Productivity
                                </h3>
                                <hr>
                            </div>
                            <div class="card__content">
                                <ProductLinePro/>
                            </div>
                            <div class="card__footer is-left-aligned">
                            </div>
                        </div>
                    </div>
                    <div class="col-4" style="padding:1rem;">

                        <div class="card">
                            <div class="card__header">
                                <h3 class="card__title">
                                Productivity
                                </h3>
                                <hr>
                            </div>
                            <div class="card__content">
                                <PrinterPro/>
                            </div>
                            <div class="card__footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4" style="padding:1rem;">
                <div class="card">
                    <div class="card__header">
                        <h3 class="card__title">
                        Real Time Status (Machine Tool)
                        </h3>
                        <hr>
                    </div>
                    <div class="card__content">
                        <MachineToolStat/>
                    </div>
                    <div class="card__footer is-left-aligned">
                    </div>
                </div>
            </div>
            <div class="col-4" style="padding:1rem;">
                <div class="card">
                    <div class="card__header">
                        <h3 class="card__title">
                        Real Time Status (Product Line)
                        </h3>
                        <hr>
                    </div>
                    <div class="card__content">
                        <ProductLineStat/>
                    </div>
                    <div class="card__footer is-left-aligned">
                    </div>
                </div>
            </div>
            <div class="col-4" style="padding:1rem;">
                <div class="card">
                    <div class="card__header">
                        <h3 class="card__title">
                        Real Time Status (Printer Machine)
                        </h3>
                        <hr>
                    </div>
                    <div class="card__content">
                        <PrinterStat/>
                    </div>
                    <div class="card__footer is-left-aligned">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6" style="padding:1rem;">
                <div class="card">
                    <div class="card__header">
                        <h3 class="card__title">
                        Failure Hours
                        </h3>
                        <hr>
                    </div>
                    <div class="card__content">
                        <FailureHours/>
                    </div>
                    <div class="card__footer is-left-aligned">
                    </div>
                </div>
            </div>
            <div class="col-6" style="padding:1rem;">
                <div class="card">
                    <div class="card__header">
                        <h3 class="card__title">
                        Failure History
                        </h3>
                        <hr>
                    </div>
                    <div class="card__content">
                        <FailureHistory/>
                    </div>
                    <div class="card__footer is-left-aligned">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:0rem;">
            <div class="col-12" style="padding:1rem;">
                <div class="card">
                    <div class="card__header">
                        <h3 class="card__title">
                        Real Time Information
                        </h3>
                        <hr>
                    </div>
                    <div class="card__content">
                        <Information/>
                    </div>
                    <div class="card__footer is-left-aligned">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
/* eslint-disable */
// Productivity
import MachineToolPro from './Report/charts/Productivity/MachineTool'
import ProductLinePro from './Report/charts/Productivity/ProductLine'
import PrinterPro from './Report/charts/Productivity/Printer'
// Status 
import MachineToolStat from './Report/charts/Status/MachineTool'
import ProductLineStat from './Report/charts/Status/ProductLine'
import PrinterStat from './Report/charts/Status/Printer'
// Failure
import FailureHours from './Report/charts/Failure/Hours'
import FailureHistory from './Report/charts/Failure/History'
// Information Table
import Information from './Report/Information'
export default {
    name: 'Report',
    components: {
        MachineToolPro,
        ProductLinePro,
        PrinterPro,
        MachineToolStat,
        ProductLineStat,
        PrinterStat,
        FailureHours,
        FailureHistory,
        Information
    },
    created(){
        this.$store.dispatch('getReport');
    }
}
</script>
<style scoped>
.content{
    margin: auto;
    padding:1rem 1rem 1rem 5.9rem;
}
.card .card__content{
    padding:1rem;
}
.card .card__title{
    position: relative;
    margin:auto;
}
</style>