<template>
  <div id="info">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Status</th>
          <th>Yield</th>
          <th>Yield Achievement Rate</th>
          <th>Unproductive Time</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Machine Tool</td>
          <td>
            Live
            <div class="td__description">Working</div>
          </td>
          <td>{{ this.yield.machine }}</td>
          <td>{{ Math.round((this.yield.machine / (1440 * 70)) * 100) }} %</td>
          <td>{{ this.machineUT }} Hours</td>
          <td></td>
        </tr>
        <tr>
          <td>Product Line</td>
          <td>
            Live
            <div class="td__description">Working</div>
          </td>
          <td>{{ this.yield.product }}</td>
          <td>{{ Math.round((this.yield.product / (1700 * 120)) * 100)}} %</td>
          <td>{{ this.productUT }} Hours</td>
          <td></td>
        </tr>
        <tr>
          <td>Printer Machine</td>
          <td>
            Down
            <div class="td__description">To be repaired</div>
          </td>
          <td>{{ this.yield.printer }}</td>
          <td>{{ this.yield.printer / 1140 }} %</td>
          <td>{{ new Date().getHours() }} Hours</td>
          <td>
            <i
              aria-hidden="true"
              class="iconMdsp attention black has-color-validationRed"
            >Waiting For Repairment</i>
          </td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>
  </div>
</template>
<script>
/* eslint-disable */
export default {
  computed: {
    yield() {
      return this.$store.getters.yield;
    },
    status() {
      return this.$store.getters.status;
    },
    machineUT() {
      let result =
        this.status.machine.reduce((a, b) => a + b) - this.status.machine[0];
      return Math.round(result * 100) / 100;
    },
    productUT() {
      let result =
        this.status.product.reduce((a, b) => a + b) - this.status.product[0];
      return Math.round(result * 100) / 100;
    }
  }
};
</script>