<template>
    <div id="chart">
        <apexchart type="heatmap" height="350" :options="chartOptions" :series="series"></apexchart>
    </div>
</template>
<script>
/* eslint-disable */
export default {
    computed: {
        series(){
            return this.$store.getters.productSeries
        }
    },
    data() {
        return {
        //     series: [{
        //       name: 'Jan',
        //       data: [10, 41, 35, 51, 49, 62, 69, 91, 99]
        //     },
        //     {
        //       name: 'Feb',
        //       data: [10, 41, 35, 51, 49, 62, 69, 91, 99]
        //     },
        //     {
        //       name: 'Mar',
        //       data: [10, 41, 35, 51, 49, 62, 69, 91, 99]
        //     },
        //     {
        //       name: 'Apr',
        //       data: [10, 41, 35, 51, 49, 62, 69, 91, 99]
        //     }
        //   ],
          chartOptions: {
            chart: {
              height: 350,
              type: 'heatmap',
              toolbar:{
                show: false
              },
            },
            plotOptions: {
              heatmap: {
                shadeIntensity: 0.5,
                radius: 0,
                useFillColorAsStroke: true,
                colorScale: {
                  ranges: [{
                      from: -30,
                      to: 5,
                      name: 'low',
                      color: '#00A100'
                    },
                    {
                      from: 6,
                      to: 20,
                      name: 'medium',
                      color: '#128FD9'
                    },
                    {
                      from: 21,
                      to: 45,
                      name: 'high',
                      color: '#FFB200'
                    },
                    {
                      from: 46,
                      to: 55,
                      name: 'extreme',
                      color: '#FF0000'
                    }
                  ]
                }
              }
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              width: 1
            },
            title: {
              text: 'HeatMap'
            },
          },
        }
    }
}
</script>
<style scoped>

</style>