<template>
<!-- eslint-disable  -->
    <div>
<svg version="1.1" id="圖層_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1794 709" style="enable-background:new 0 0 1794 709;" xml:space="preserve">
<g>
	<g>
		<g class="st0">
			<g>
				<polygon class="st1" points="1778.31,458.39 1775.69,458.49 1334.3,206.85 1336.92,206.76 				"/>
			</g>
			<g>
				<polygon class="st2" points="1195.91,229.34 1193.3,229.44 1334.3,206.85 1336.92,206.76 				"/>
			</g>
			<g>
				<polygon class="st3" points="1195.91,229.34 1193.3,229.43 1334.3,206.85 1336.92,206.76 				"/>
			</g>
			<g>
				<polygon class="st4" points="456.15,670.46 453.53,670.55 1777,458.56 1779.61,458.47 				"/>
			</g>
			<g>
				<polygon class="st3" points="456.67,670.08 454.05,670.17 1775.69,458.49 1778.31,458.39 				"/>
			</g>
			<g>
				<polygon class="st5" points="457.48,696.47 454.86,696.56 453.53,670.55 456.15,670.46 				"/>
			</g>
			<g>
				<polygon class="st6" points="1779.61,458.47 1780.95,484.49 457.48,696.47 456.15,670.46 				"/>
			</g>
			<g>
				<polygon class="st7" points="1336.92,206.76 1778.31,458.39 456.67,670.08 15.28,418.45 1195.91,229.34 				"/>
			</g>
			<g>
				<polygon class="st3" points="15.28,418.45 12.66,418.54 1193.3,229.43 1195.91,229.34 				"/>
			</g>
			<g>
				<polygon class="st1" points="456.67,670.08 454.05,670.17 12.66,418.54 15.28,418.45 				"/>
			</g>
			<g>
				<polygon class="st8" points="457.48,696.47 454.86,696.56 12.71,444.49 15.32,444.4 				"/>
			</g>
			<g>
				<polygon class="st9" points="13.98,418.37 11.37,418.46 1334.84,206.48 1337.46,206.39 				"/>
			</g>
			<g>
				<polygon class="st1" points="456.14,670.45 453.52,670.54 11.36,418.46 13.98,418.37 				"/>
			</g>
			<g>
				<polygon class="st5" points="13.98,418.37 456.14,670.46 457.48,696.47 15.32,444.4 				"/>
			</g>
			<g>
				<polygon class="st8" points="15.32,444.4 12.71,444.49 11.37,418.46 13.98,418.37 				"/>
			</g>
			<g>
				<polygon class="st3" points="13.98,418.37 11.36,418.46 1334.84,206.48 1337.45,206.39 				"/>
			</g>
			<g>
				<path class="st7" d="M1337.45,206.39l442.16,252.08L456.14,670.45L13.98,418.37L1337.45,206.39z M15.28,418.44l441.39,251.64
					l1321.64-211.69l-441.39-251.63l-141.01,22.57L15.28,418.44"/>
			</g>
		</g>
	</g>
</g>
<g id="XMLID_6_">
	<g>
		<g class="st0">
			<g>
				<polygon class="st10" points="1195.8,453.03 1195.73,488.78 1160.1,493.79 1160.16,458.04 				"/>
			</g>
			<g>
				<polygon class="st11" points="1160.1,493.79 1013.31,413.94 1013.37,378.19 1160.16,458.04 				"/>
			</g>
			<g>
				<polygon class="st12" points="1160.16,458.04 1013.37,378.19 1049.01,373.18 1195.8,453.03 				"/>
			</g>
		</g>
		<g class="st0">
			<g class="st0">
				<defs>
					<path id="SVGID_1_" class="st0" d="M1013.52,297.75c0-2.47-0.66-4.72-1.85-6.69c48.93,26.62,97.86,53.23,146.79,79.85
						c1.2,1.97,1.86,4.23,1.85,6.69c0,0.13,0,0.25-0.01,0.38c-48.93-26.62-97.86-53.23-146.79-79.85
						C1013.52,298,1013.52,297.87,1013.52,297.75z"/>
				</defs>
				<clipPath id="SVGID_2_">
					<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st13">
					<path class="st14" d="M1159.37,382.69l-146.79-79.85c0.61-1.66,0.93-3.37,0.94-5.09c0.01-5.25-2.98-9.54-7.76-12.14
						l146.79,79.85c4.78,2.6,7.77,6.9,7.76,12.14C1160.31,379.32,1159.98,381.03,1159.37,382.69"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_3_" class="st0" d="M1013.52,298.12c48.93,26.62,97.86,53.23,146.79,79.85c-0.27,9.32-9.94,18.21-22.12,20.55
						c-48.93-26.62-105.72-38.78-146.79-79.85C1003.57,316.33,1013.24,307.44,1013.52,298.12z"/>
				</defs>
				<clipPath id="SVGID_4_">
					<use xlink:href="#SVGID_3_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st15">
					<path class="st16" d="M1136.52,398.81l-146.79-79.85c3.4-0.48,6.63-1.47,9.55-2.84l146.79,79.85
						C1143.15,397.34,1139.92,398.33,1136.52,398.81"/>
					<path class="st17" d="M1146.07,395.96l-146.79-79.85c1.6-0.75,3.11-1.62,4.5-2.58l146.79,79.85
						C1149.18,394.34,1147.67,395.21,1146.07,395.96"/>
					<path class="st18" d="M1150.57,393.38l-146.79-79.85c1.02-0.7,1.97-1.46,2.85-2.25l146.79,79.85
						C1152.54,391.92,1151.59,392.68,1150.57,393.38"/>
					<path class="st19" d="M1153.42,391.13l-146.79-79.85c0.74-0.66,1.43-1.36,2.06-2.07l146.79,79.85
						C1154.85,389.77,1154.16,390.46,1153.42,391.13"/>
					<path class="st20" d="M1155.48,389.05L1008.7,309.2c0.57-0.65,1.1-1.32,1.58-2l146.79,79.85
						C1156.59,387.74,1156.06,388.41,1155.48,389.05"/>
					<path class="st21" d="M1157.07,387.05l-146.79-79.85c0.47-0.66,0.89-1.35,1.26-2.04l146.79,79.85
						C1157.95,385.71,1157.53,386.39,1157.07,387.05"/>
					<path class="st22" d="M1158.33,385.01l-146.79-79.85c0.41-0.76,0.76-1.54,1.05-2.33l146.79,79.85
						C1159.09,383.48,1158.74,384.25,1158.33,385.01"/>
					<path class="st14" d="M1159.37,382.69l-146.79-79.85c0.61-1.66,0.93-3.37,0.94-5.09c0.01-5.25-2.98-9.54-7.76-12.14
						l146.79,79.85c4.78,2.6,7.77,6.9,7.76,12.14C1160.31,379.32,1159.98,381.03,1159.37,382.69"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_5_" class="st0" d="M991.39,318.68c58.47,9.08,97.86,53.23,146.79,79.85c-0.55,0.11-1.1,0.2-1.66,0.28
						l-146.79-79.85C990.29,318.88,990.84,318.78,991.39,318.68z"/>
				</defs>
				<clipPath id="SVGID_6_">
					<use xlink:href="#SVGID_5_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st23">
					<path class="st16" d="M1136.52,398.81l-146.79-79.85c3.4-0.48,6.63-1.47,9.55-2.84l146.79,79.85
						C1143.15,397.34,1139.92,398.33,1136.52,398.81"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_7_" class="st0" d="M988.51,319.1c0.4-0.04,0.81-0.09,1.22-0.15l146.79,79.85c-0.41,0.06-0.81,0.11-1.22,0.15
						C1086.37,372.34,1037.44,345.72,988.51,319.1z"/>
				</defs>
				<clipPath id="SVGID_8_">
					<use xlink:href="#SVGID_7_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st24">
					<path class="st16" d="M1125.4,398.3l-146.79-79.85c3.32,0.86,7.1,1.08,11.12,0.51l146.79,79.85
						C1132.5,399.37,1128.71,399.15,1125.4,398.3"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_9_" class="st0" d="M1011.67,291.05c-1.35-2.22-3.38-4.07-5.91-5.45l146.79,79.85
						c2.53,1.38,4.56,3.23,5.91,5.45C1109.53,344.29,1060.6,317.67,1011.67,291.05z"/>
				</defs>
				<clipPath id="SVGID_10_">
					<use xlink:href="#SVGID_9_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st25">
					<path class="st14" d="M1159.37,382.69l-146.79-79.85c0.61-1.66,0.93-3.37,0.94-5.09c0.01-5.25-2.98-9.54-7.76-12.14
						l146.79,79.85c4.78,2.6,7.77,6.9,7.76,12.14C1160.31,379.32,1159.98,381.03,1159.37,382.69"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_11_" class="st0" d="M988.51,319.1c57.17,11.47,97.86,53.23,146.79,79.85c-5.67,0.58-10.82-0.41-14.76-2.55
						l-146.79-79.85C977.69,318.7,982.84,319.69,988.51,319.1z"/>
				</defs>
				<clipPath id="SVGID_12_">
					<use xlink:href="#SVGID_11_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st26">
					<path class="st18" d="M1120.55,396.41l-146.79-79.85c0.23,0.13,0.47,0.25,0.71,0.37l146.79,79.85
						C1121.02,396.66,1120.78,396.54,1120.55,396.41"/>
					<path class="st17" d="M1121.26,396.78l-146.79-79.85c1.27,0.63,2.66,1.14,4.14,1.52l146.79,79.85
						C1123.92,397.91,1122.53,397.4,1121.26,396.78"/>
					<path class="st16" d="M1125.4,398.3l-146.79-79.85c3.32,0.86,7.1,1.08,11.12,0.51l146.79,79.85
						C1132.5,399.37,1128.71,399.15,1125.4,398.3"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_13_" class="st0" d="M1005.76,285.6l146.79,79.85c-4.21-2.29-9.81-3.26-15.96-2.4L989.8,283.21
						C995.95,282.34,1001.55,283.31,1005.76,285.6z"/>
				</defs>
				<clipPath id="SVGID_14_">
					<use xlink:href="#SVGID_13_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st27">
					<path class="st28" d="M1136.59,363.06L989.8,283.21c4.02-0.56,7.8-0.35,11.11,0.51l146.79,79.85
						C1144.38,362.71,1140.6,362.49,1136.59,363.06"/>
					<path class="st29" d="M1147.7,363.57l-146.79-79.85c1.48,0.38,2.87,0.89,4.14,1.52l146.79,79.85
						C1150.57,364.46,1149.18,363.95,1147.7,363.57"/>
					<path class="st30" d="M1151.84,365.09l-146.79-79.85c0.24,0.12,0.48,0.24,0.71,0.37l146.79,79.85
						C1152.32,365.33,1152.08,365.21,1151.84,365.09"/>
				</g>
			</g>
			<g>
				<polygon class="st31" points="1196.1,292.14 1049.31,212.29 1049.39,167.6 1196.18,247.45 				"/>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_15_" class="st0" d="M1120.55,396.41l-146.79-79.85c-4.78-2.6-7.77-6.89-7.76-12.13l146.79,79.85
						C1112.78,389.52,1115.78,393.81,1120.55,396.41z"/>
				</defs>
				<clipPath id="SVGID_16_">
					<use xlink:href="#SVGID_15_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st32">
					<path class="st33" d="M1120.55,396.41l-146.79-79.85c-4.78-2.6-7.77-6.89-7.76-12.13l146.79,79.85
						C1112.78,389.52,1115.78,393.81,1120.55,396.41"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_17_" class="st0" d="M1112.79,384.28L966,304.42c0.02-9.87,10.67-19.37,23.79-21.22l146.79,79.85
						C1123.46,364.9,1112.81,374.4,1112.79,384.28z"/>
				</defs>
				<clipPath id="SVGID_18_">
					<use xlink:href="#SVGID_17_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st34">
					<path class="st33" d="M1112.79,384.28L966,304.42c0-1.72,0.33-3.43,0.94-5.09l146.79,79.85
						C1113.12,380.84,1112.8,382.55,1112.79,384.28"/>
					<path class="st35" d="M1113.73,379.18l-146.79-79.85c0.29-0.79,0.64-1.57,1.05-2.33l146.79,79.85
						C1114.37,377.62,1114.02,378.39,1113.73,379.18"/>
					<path class="st36" d="M1114.78,376.86L967.99,297c0.37-0.69,0.8-1.38,1.26-2.04l146.79,79.85
						C1115.57,375.48,1115.15,376.16,1114.78,376.86"/>
					<path class="st37" d="M1116.04,374.81l-146.79-79.85c0.48-0.69,1.01-1.36,1.58-2l146.79,79.85
						C1117.05,373.46,1116.52,374.13,1116.04,374.81"/>
					<path class="st38" d="M1117.62,372.81l-146.79-79.85c0.63-0.72,1.32-1.41,2.06-2.07l146.79,79.85
						C1118.95,371.4,1118.26,372.09,1117.62,372.81"/>
					<path class="st30" d="M1119.69,370.74L972.9,290.88c0.88-0.8,1.84-1.55,2.85-2.25l146.79,79.85
						C1121.52,369.19,1120.57,369.94,1119.69,370.74"/>
					<path class="st29" d="M1122.54,368.48l-146.79-79.85c1.39-0.96,2.9-1.83,4.5-2.58l146.79,79.85
						C1125.44,366.65,1123.93,367.52,1122.54,368.48"/>
					<path class="st28" d="M1127.04,365.9l-146.79-79.85c2.92-1.38,6.15-2.37,9.55-2.84l146.79,79.85
						C1133.19,363.53,1129.96,364.52,1127.04,365.9"/>
				</g>
			</g>
			<g>
				<path class="st10" d="M1136.59,363.06c13.12-1.84,23.74,4.67,23.73,14.54c-0.02,9.86-10.67,19.37-23.79,21.21
					c-13.12,1.84-23.74-4.67-23.73-14.53C1112.81,374.4,1123.46,364.9,1136.59,363.06z"/>
			</g>
			<g>
				<polygon class="st39" points="1243.76,213.96 1243.62,285.46 1196.1,292.14 1196.18,247.45 1196.23,220.64 				"/>
			</g>
			<g>
				<polygon class="st40" points="1196.23,220.64 1049.44,140.79 1096.97,134.11 1243.76,213.96 				"/>
			</g>
			<g>
				<polygon class="st31" points="1196.18,247.45 1049.39,167.6 1049.44,140.79 1196.23,220.64 				"/>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_19_" class="st0" d="M930.36,309.43c0-2.47-0.66-4.72-1.85-6.69c48.93,26.62,97.86,53.23,146.79,79.85
						c1.2,1.97,1.86,4.23,1.85,6.69c0,0.21-0.01,0.42-0.02,0.63c-48.93-26.62-97.86-53.23-146.79-79.85
						C930.35,309.85,930.36,309.64,930.36,309.43z"/>
				</defs>
				<clipPath id="SVGID_20_">
					<use xlink:href="#SVGID_19_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st41">
					<path class="st14" d="M1076.21,394.38l-146.79-79.85c0.61-1.66,0.93-3.37,0.94-5.09c0.01-5.25-2.98-9.54-7.76-12.14
						l146.79,79.85c4.78,2.6,7.77,6.9,7.76,12.14C1077.14,391.01,1076.82,392.72,1076.21,394.38"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_21_" class="st0" d="M930.34,310.06c48.93,26.62,83.38,79.85,146.79,79.85c-0.44,9.28-10.16,18.08-22.33,20.35
						c-48.93-26.62-97.86-53.23-146.79-79.85C920.19,328.15,929.9,319.34,930.34,310.06z"/>
				</defs>
				<clipPath id="SVGID_22_">
					<use xlink:href="#SVGID_21_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st42">
					<path class="st16" d="M1053.35,410.5l-146.79-79.85c3.4-0.48,6.63-1.47,9.55-2.84l146.79,79.85
						C1059.98,409.03,1056.75,410.02,1053.35,410.5"/>
					<path class="st17" d="M1062.91,407.65L916.12,327.8c1.6-0.75,3.11-1.62,4.5-2.58l146.79,79.85
						C1066.01,406.03,1064.51,406.9,1062.91,407.65"/>
					<path class="st18" d="M1067.41,405.07l-146.79-79.85c1.02-0.7,1.97-1.46,2.85-2.25l146.79,79.85
						C1069.38,403.61,1068.42,404.36,1067.41,405.07"/>
					<path class="st19" d="M1070.26,402.82l-146.79-79.85c0.74-0.66,1.43-1.36,2.06-2.07l146.79,79.85
						C1071.69,401.46,1071,402.15,1070.26,402.82"/>
					<path class="st20" d="M1072.32,400.74l-146.79-79.85c0.57-0.65,1.1-1.32,1.58-2l146.79,79.85
						C1073.42,399.43,1072.89,400.09,1072.32,400.74"/>
					<path class="st21" d="M1073.9,398.74l-146.79-79.85c0.47-0.66,0.89-1.35,1.26-2.04l146.79,79.85
						C1074.79,397.39,1074.37,398.08,1073.9,398.74"/>
					<path class="st22" d="M1075.16,396.7l-146.79-79.85c0.41-0.76,0.76-1.54,1.05-2.33l146.79,79.85
						C1075.92,395.16,1075.57,395.94,1075.16,396.7"/>
					<path class="st14" d="M1076.21,394.38l-146.79-79.85c0.61-1.66,0.93-3.37,0.94-5.09c0.01-5.25-2.98-9.54-7.76-12.14
						l146.79,79.85c4.78,2.6,7.77,6.9,7.76,12.14C1077.14,391.01,1076.82,392.72,1076.21,394.38"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_23_" class="st0" d="M908.01,330.41c58.37,9.26,97.86,53.23,146.79,79.85c-0.48,0.09-0.96,0.17-1.45,0.24
						l-146.79-79.85C907.05,330.58,907.54,330.5,908.01,330.41z"/>
				</defs>
				<clipPath id="SVGID_24_">
					<use xlink:href="#SVGID_23_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st43">
					<path class="st16" d="M1053.35,410.5l-146.79-79.85c3.4-0.48,6.63-1.47,9.55-2.84l146.79,79.85
						C1059.98,409.03,1056.75,410.02,1053.35,410.5"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_25_" class="st0" d="M905.16,330.81c0.47-0.04,0.93-0.1,1.41-0.17l146.79,79.85c-0.47,0.07-0.94,0.12-1.41,0.17
						C1003.02,384.04,954.09,357.43,905.16,330.81z"/>
				</defs>
				<clipPath id="SVGID_26_">
					<use xlink:href="#SVGID_25_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st44">
					<path class="st16" d="M1042.23,409.98l-146.79-79.85c3.32,0.86,7.1,1.08,11.12,0.51l146.79,79.85
						C1049.34,411.06,1045.55,410.84,1042.23,409.98"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_27_" class="st0" d="M928.51,302.74c-1.35-2.22-3.38-4.07-5.91-5.45l146.79,79.85
						c2.53,1.38,4.56,3.23,5.91,5.45C1026.36,355.97,977.44,329.36,928.51,302.74z"/>
				</defs>
				<clipPath id="SVGID_28_">
					<use xlink:href="#SVGID_27_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st45">
					<path class="st14" d="M1076.21,394.38l-146.79-79.85c0.61-1.66,0.93-3.37,0.94-5.09c0.01-5.25-2.98-9.54-7.76-12.14
						l146.79,79.85c4.78,2.6,7.77,6.9,7.76,12.14C1077.14,391.01,1076.82,392.72,1076.21,394.38"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_29_" class="st0" d="M905.16,330.81c57.09,11.63,97.86,53.23,146.79,79.85c-5.6,0.54-10.68-0.45-14.57-2.57
						l-146.79-79.85C894.48,330.36,899.56,331.35,905.16,330.81z"/>
				</defs>
				<clipPath id="SVGID_30_">
					<use xlink:href="#SVGID_29_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st46">
					<path class="st18" d="M1037.38,408.1L890.6,328.25c0.23,0.13,0.47,0.25,0.71,0.37l146.79,79.85
						C1037.85,408.35,1037.62,408.22,1037.38,408.1"/>
					<path class="st17" d="M1038.09,408.46l-146.79-79.85c1.27,0.63,2.66,1.14,4.14,1.52l146.79,79.85
						C1040.75,409.6,1039.37,409.09,1038.09,408.46"/>
					<path class="st16" d="M1042.23,409.98l-146.79-79.85c3.32,0.86,7.1,1.08,11.12,0.51l146.79,79.85
						C1049.34,411.06,1045.55,410.84,1042.23,409.98"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_31_" class="st0" d="M922.6,297.29l146.79,79.85c-4.21-2.29-9.81-3.26-15.96-2.4l-146.79-79.85
						C912.78,294.03,918.38,295,922.6,297.29z"/>
				</defs>
				<clipPath id="SVGID_32_">
					<use xlink:href="#SVGID_31_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st47">
					<path class="st28" d="M1053.42,374.74l-146.79-79.85c4.02-0.56,7.8-0.35,11.11,0.51l146.79,79.85
						C1061.22,374.4,1057.44,374.18,1053.42,374.74"/>
					<path class="st29" d="M1064.53,375.26l-146.79-79.85c1.48,0.38,2.87,0.89,4.14,1.52l146.79,79.85
						C1067.4,376.15,1066.01,375.64,1064.53,375.26"/>
					<path class="st30" d="M1068.67,376.78l-146.79-79.85c0.24,0.12,0.48,0.24,0.71,0.37l146.79,79.85
						C1069.15,377.02,1068.92,376.89,1068.67,376.78"/>
				</g>
			</g>
			<g>
				<polygon class="st48" points="1196.45,104.44 1049.66,24.58 1097.18,17.91 1243.97,97.76 				"/>
			</g>
			<g>
				<polygon class="st49" points="1196.23,220.64 1049.44,140.79 1049.66,24.58 1196.45,104.44 				"/>
			</g>
			<g>
				<polygon class="st50" points="1243.97,97.76 1243.76,213.96 1196.23,220.64 1196.45,104.44 				"/>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_33_" class="st0" d="M1037.39,408.1L890.6,328.24c-4.78-2.6-7.77-6.89-7.76-12.13l146.79,79.85
						C1029.62,401.2,1032.61,405.5,1037.39,408.1z"/>
				</defs>
				<clipPath id="SVGID_34_">
					<use xlink:href="#SVGID_33_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st51">
					<path class="st33" d="M1037.39,408.1L890.6,328.24c-4.78-2.6-7.77-6.89-7.76-12.13l146.79,79.85
						C1029.62,401.2,1032.61,405.5,1037.39,408.1"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_35_" class="st0" d="M1029.63,395.96l-146.79-79.85c0.02-9.87,10.67-19.37,23.79-21.22l146.79,79.85
						C1040.3,376.59,1029.65,386.09,1029.63,395.96z"/>
				</defs>
				<clipPath id="SVGID_36_">
					<use xlink:href="#SVGID_35_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st52">
					<path class="st33" d="M1029.63,395.96l-146.79-79.85c0-1.72,0.33-3.43,0.94-5.09l146.79,79.85
						C1029.96,392.53,1029.63,394.24,1029.63,395.96"/>
					<path class="st35" d="M1030.57,390.87l-146.79-79.85c0.29-0.79,0.64-1.57,1.05-2.33l146.79,79.85
						C1031.2,389.3,1030.85,390.08,1030.57,390.87"/>
					<path class="st36" d="M1031.61,388.54l-146.79-79.85c0.37-0.69,0.8-1.38,1.26-2.04l146.79,79.85
						C1032.41,387.17,1031.99,387.85,1031.61,388.54"/>
					<path class="st37" d="M1032.88,386.5l-146.79-79.85c0.48-0.69,1.01-1.36,1.58-2l146.79,79.85
						C1033.89,385.15,1033.36,385.82,1032.88,386.5"/>
					<path class="st38" d="M1034.46,384.5l-146.79-79.85c0.63-0.72,1.32-1.41,2.06-2.07l146.79,79.85
						C1035.78,383.09,1035.1,383.78,1034.46,384.5"/>
					<path class="st30" d="M1036.52,382.42l-146.79-79.85c0.88-0.8,1.84-1.55,2.85-2.25l146.79,79.85
						C1038.36,380.87,1037.41,381.63,1036.52,382.42"/>
					<path class="st29" d="M1039.38,380.17l-146.79-79.85c1.39-0.96,2.9-1.83,4.5-2.58l146.79,79.85
						C1042.28,378.34,1040.77,379.21,1039.38,380.17"/>
					<path class="st28" d="M1043.87,377.59l-146.79-79.85c2.92-1.38,6.15-2.37,9.55-2.84l146.79,79.85
						C1050.03,375.22,1046.8,376.21,1043.87,377.59"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_37_" class="st0" d="M847.2,321.12c0-2.47-0.66-4.73-1.85-6.7c48.93,26.62,97.86,53.23,146.79,79.85
						c1.2,1.97,1.86,4.23,1.85,6.7c-0.02,9.87-10.67,19.37-23.79,21.21l-146.79-79.85C836.53,340.49,847.18,330.99,847.2,321.12z"/>
				</defs>
				<clipPath id="SVGID_38_">
					<use xlink:href="#SVGID_37_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st53">
					<path class="st16" d="M970.2,422.18l-146.79-79.85c3.4-0.48,6.63-1.47,9.55-2.84l146.79,79.85
						C976.83,420.71,973.6,421.7,970.2,422.18"/>
					<path class="st17" d="M979.75,419.34l-146.79-79.85c1.6-0.75,3.11-1.62,4.5-2.58l146.79,79.85
						C982.86,417.72,981.35,418.59,979.75,419.34"/>
					<path class="st18" d="M984.25,416.75L837.46,336.9c1.02-0.7,1.97-1.46,2.85-2.25L987.1,414.5
						C986.22,415.3,985.27,416.05,984.25,416.75"/>
					<path class="st19" d="M987.1,414.5l-146.79-79.85c0.74-0.66,1.43-1.36,2.06-2.07l146.79,79.85
						C988.53,413.15,987.84,413.84,987.1,414.5"/>
					<path class="st20" d="M989.16,412.43l-146.79-79.85c0.57-0.65,1.1-1.32,1.58-2l146.79,79.85
						C990.26,411.11,989.74,411.78,989.16,412.43"/>
					<path class="st21" d="M990.75,410.43l-146.79-79.85c0.47-0.66,0.89-1.35,1.26-2.04l146.79,79.85
						C991.63,409.08,991.21,409.76,990.75,410.43"/>
					<path class="st22" d="M992.01,408.39l-146.79-79.85c0.41-0.76,0.76-1.54,1.05-2.33l146.79,79.85
						C992.77,406.85,992.42,407.63,992.01,408.39"/>
					<path class="st14" d="M993.05,406.06l-146.79-79.85c0.61-1.66,0.93-3.37,0.94-5.09c0.01-5.25-2.98-9.55-7.76-12.14
						l146.79,79.85c4.78,2.6,7.77,6.89,7.76,12.14C993.99,402.69,993.66,404.4,993.05,406.06"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_39_" class="st0" d="M845.35,314.42c-1.35-2.22-3.38-4.07-5.9-5.44l146.79,79.85c2.53,1.38,4.56,3.23,5.9,5.44
						C943.21,367.66,894.28,341.04,845.35,314.42z"/>
				</defs>
				<clipPath id="SVGID_40_">
					<use xlink:href="#SVGID_39_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st54">
					<path class="st14" d="M993.05,406.06l-146.79-79.85c0.61-1.66,0.93-3.37,0.94-5.09c0.01-5.25-2.98-9.55-7.76-12.14
						l146.79,79.85c4.78,2.6,7.77,6.89,7.76,12.14C993.99,402.69,993.66,404.4,993.05,406.06"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_41_" class="st0" d="M839.44,308.98l146.79,79.85c-4.21-2.29-9.82-3.26-15.97-2.4l-146.79-79.85
						C829.63,305.72,835.23,306.69,839.44,308.98z"/>
				</defs>
				<clipPath id="SVGID_42_">
					<use xlink:href="#SVGID_41_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st55">
					<path class="st28" d="M970.26,386.43l-146.79-79.85c4.02-0.56,7.8-0.35,11.12,0.51l146.79,79.85
						C978.07,386.08,974.28,385.87,970.26,386.43"/>
					<path class="st29" d="M981.38,386.94L834.6,307.09c1.48,0.38,2.87,0.89,4.14,1.52l146.79,79.85
						C984.25,387.84,982.86,387.33,981.38,386.94"/>
					<path class="st30" d="M985.52,388.46l-146.79-79.85c0.24,0.12,0.48,0.24,0.71,0.37l146.79,79.85
						C986,388.7,985.76,388.58,985.52,388.46"/>
				</g>
			</g>
			<g>
				<polygon class="st56" points="970.38,323.86 823.59,244.01 1049.31,212.29 1196.1,292.14 				"/>
			</g>
			<g>
				<polygon class="st49" points="970.38,323.86 823.59,244.01 823.68,199.32 970.46,279.17 				"/>
			</g>
			<g>
				<path class="st57" d="M970.38,323.86l225.72-31.72l-0.3,160.89l-225.72,31.72l0.12-62.57c13.12-1.84,23.77-11.34,23.79-21.21
					c0.02-9.88-10.6-16.38-23.73-14.54L970.38,323.86z M1053.35,410.5c13.12-1.84,23.77-11.34,23.79-21.21
					c0.02-9.87-10.6-16.38-23.73-14.54c-13.12,1.84-23.77,11.35-23.79,21.22C1029.61,405.84,1040.23,412.34,1053.35,410.5
					 M1136.52,398.81c13.12-1.84,23.77-11.34,23.79-21.21c0.02-9.87-10.6-16.38-23.73-14.54c-13.12,1.84-23.77,11.35-23.79,21.22
					C1112.77,394.15,1123.4,400.65,1136.52,398.81"/>
			</g>
			<g>
				<path class="st10" d="M1053.42,374.74c13.12-1.84,23.74,4.67,23.73,14.54c-0.02,9.86-10.67,19.37-23.79,21.21
					s-23.74-4.67-23.73-14.53C1029.65,386.09,1040.3,376.59,1053.42,374.74z"/>
			</g>
			<g>
				<polygon class="st58" points="970.08,484.75 823.29,404.9 823.41,342.33 970.2,422.18 				"/>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_43_" class="st0" d="M807.43,339.93c4.22,2.29,9.82,3.26,15.98,2.4l146.79,79.85
						c-6.16,0.87-11.76-0.11-15.98-2.4C910.18,395.83,851.47,363.89,807.43,339.93z"/>
				</defs>
				<clipPath id="SVGID_44_">
					<use xlink:href="#SVGID_43_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st59">
					<path class="st60" d="M954.22,419.78l-146.79-79.85c0.23,0.13,0.47,0.25,0.71,0.37l146.79,79.85
						C954.69,420.03,954.45,419.91,954.22,419.78"/>
					<path class="st61" d="M954.93,420.15L808.14,340.3c1.27,0.63,2.66,1.14,4.14,1.52l146.79,79.85
						C957.59,421.29,956.2,420.78,954.93,420.15"/>
					<path class="st62" d="M959.07,421.67l-146.79-79.85c3.32,0.86,7.11,1.08,11.13,0.51l146.79,79.85
						C966.18,422.75,962.39,422.53,959.07,421.67"/>
				</g>
			</g>
			<g>
				<polygon class="st11" points="970.2,422.18 823.41,342.33 823.48,306.58 970.26,386.43 				"/>
			</g>
			<g>
				<path class="st10" d="M970.26,386.43c13.12-1.84,23.74,4.66,23.73,14.54c-0.02,9.87-10.67,19.37-23.79,21.21L970.26,386.43z"/>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_45_" class="st0" d="M954.22,419.78l-146.79-79.85c-4.77-2.6-7.76-6.89-7.75-12.13l146.79,79.85
						C946.46,412.89,949.45,417.19,954.22,419.78z"/>
				</defs>
				<clipPath id="SVGID_46_">
					<use xlink:href="#SVGID_45_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st63">
					<path class="st14" d="M954.22,419.78l-146.79-79.85c-4.77-2.6-7.76-6.89-7.75-12.13l146.79,79.85
						C946.46,412.89,949.45,417.19,954.22,419.78"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_47_" class="st0" d="M946.46,407.65L799.68,327.8c0.02-9.88,10.67-19.37,23.8-21.22l146.79,79.85
						C957.14,388.28,946.48,397.77,946.46,407.65z"/>
				</defs>
				<clipPath id="SVGID_48_">
					<use xlink:href="#SVGID_47_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st64">
					<path class="st14" d="M946.46,407.65L799.68,327.8c0-1.72,0.33-3.44,0.94-5.1l146.79,79.85
						C946.79,404.22,946.47,405.93,946.46,407.65"/>
					<path class="st22" d="M947.4,402.55L800.61,322.7c0.29-0.79,0.64-1.57,1.05-2.33l146.79,79.85
						C948.04,400.99,947.69,401.77,947.4,402.55"/>
					<path class="st21" d="M948.45,400.23l-146.79-79.85c0.37-0.69,0.79-1.37,1.26-2.04l146.79,79.85
						C949.25,398.85,948.82,399.53,948.45,400.23"/>
					<path class="st20" d="M949.71,398.19l-146.79-79.85c0.48-0.69,1.01-1.35,1.58-2l146.79,79.85
						C950.72,396.83,950.19,397.5,949.71,398.19"/>
					<path class="st19" d="M951.29,396.19l-146.79-79.85c0.63-0.72,1.32-1.41,2.06-2.07l146.79,79.85
						C952.62,394.78,951.93,395.47,951.29,396.19"/>
					<path class="st18" d="M953.35,394.11l-146.79-79.85c0.88-0.8,1.84-1.55,2.85-2.25l146.79,79.85
						C955.19,392.56,954.24,393.32,953.35,394.11"/>
					<path class="st17" d="M956.21,391.86l-146.79-79.85c1.39-0.96,2.9-1.83,4.5-2.58l146.79,79.85
						C959.11,390.03,957.6,390.9,956.21,391.86"/>
					<path class="st16" d="M960.71,389.28l-146.79-79.85c2.93-1.38,6.16-2.37,9.56-2.85l146.79,79.85
						C966.87,386.91,963.63,387.9,960.71,389.28"/>
				</g>
			</g>
			<g>
				<polygon class="st58" points="970.26,386.43 823.48,306.58 823.59,244.01 970.38,323.86 				"/>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_49_" class="st0" d="M763.73,335.69c48.93,26.62,97.86,53.23,146.79,79.85c-1.68,8.07-10.13,15.4-20.69,17.81
						c-48.93-26.62-97.86-53.23-146.79-79.85C753.61,351.09,762.06,343.76,763.73,335.69z"/>
				</defs>
				<clipPath id="SVGID_50_">
					<use xlink:href="#SVGID_49_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st65">
					<path class="st62" d="M887.03,433.87l-146.79-79.85c3.4-0.48,6.63-1.47,9.55-2.84l146.79,79.85
						C893.66,432.4,890.43,433.39,887.03,433.87"/>
					<path class="st61" d="M896.59,431.03L749.8,351.17c1.6-0.75,3.11-1.62,4.5-2.58l146.79,79.85
						C899.69,429.4,898.19,430.27,896.59,431.03"/>
					<path class="st60" d="M901.09,428.44L754.3,348.59c1.02-0.7,1.97-1.46,2.85-2.25l146.79,79.85
						C903.06,426.99,902.1,427.74,901.09,428.44"/>
					<path class="st66" d="M903.94,426.19l-146.79-79.85c0.74-0.66,1.43-1.36,2.06-2.07L906,424.12
						C905.36,424.83,904.68,425.53,903.94,426.19"/>
					<path class="st67" d="M906,424.12l-146.79-79.85c0.57-0.65,1.1-1.32,1.58-2l146.79,79.85C907.1,422.8,906.57,423.47,906,424.12
						"/>
					<path class="st68" d="M907.58,422.11l-146.79-79.85c0.47-0.66,0.89-1.35,1.26-2.04l146.79,79.85
						C908.47,420.77,908.05,421.45,907.58,422.11"/>
					<path class="st69" d="M908.84,420.08l-146.79-79.85c0.41-0.76,0.76-1.54,1.05-2.33l146.79,79.85
						C909.6,418.54,909.25,419.32,908.84,420.08"/>
					<path class="st70" d="M909.89,417.75L763.1,337.9c0.61-1.66,0.93-3.37,0.94-5.09c0.01-5.25-2.98-9.54-7.76-12.14l146.79,79.85
						c4.78,2.6,7.77,6.9,7.76,12.14C910.82,414.38,910.5,416.09,909.89,417.75"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_51_" class="st0" d="M743.05,353.5c59,8.11,97.86,53.23,146.79,79.85c-0.92,0.21-1.85,0.38-2.8,0.52
						l-146.79-79.85C741.19,353.89,742.13,353.71,743.05,353.5z"/>
				</defs>
				<clipPath id="SVGID_52_">
					<use xlink:href="#SVGID_51_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st71">
					<path class="st62" d="M887.03,433.87l-146.79-79.85c3.4-0.48,6.63-1.47,9.55-2.84l146.79,79.85
						C893.66,432.4,890.43,433.39,887.03,433.87"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_53_" class="st0" d="M764.04,332.81c0.01-4.94-2.64-9.03-6.93-11.66c48.93,26.62,97.86,53.23,146.79,79.85
						c4.29,2.63,6.94,6.73,6.93,11.66c0,0.97-0.11,1.93-0.3,2.88c-48.93-26.62-97.86-53.23-146.79-79.85
						C763.93,334.74,764.04,333.77,764.04,332.81z"/>
				</defs>
				<clipPath id="SVGID_54_">
					<use xlink:href="#SVGID_53_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st72">
					<path class="st70" d="M909.89,417.75L763.1,337.9c0.61-1.66,0.93-3.37,0.94-5.09c0.01-5.25-2.98-9.54-7.76-12.14l146.79,79.85
						c4.78,2.6,7.77,6.9,7.76,12.14C910.82,414.38,910.5,416.09,909.89,417.75"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_55_" class="st0" d="M757.11,321.15c-0.27-0.17-0.55-0.32-0.83-0.48l146.79,79.85
						c0.28,0.15,0.56,0.31,0.83,0.48c-24.46-13.31-48.92-26.61-73.39-39.92c-9.57-5.21-19.14-10.41-28.71-15.62
						c-2.81-1.53-6.56-3.57-9.37-5.1c-8.97-4.88-17.94-9.76-26.9-14.64C763,324.35,759.6,322.59,757.11,321.15z"/>
				</defs>
				<clipPath id="SVGID_56_">
					<use xlink:href="#SVGID_55_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st73">
					<path class="st70" d="M909.89,417.75L763.1,337.9c0.61-1.66,0.93-3.37,0.94-5.09c0.01-5.25-2.98-9.54-7.76-12.14l146.79,79.85
						c4.78,2.6,7.77,6.9,7.76,12.14C910.82,414.38,910.5,416.09,909.89,417.75"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_57_" class="st0" d="M737.68,354.28c0.84-0.05,1.7-0.14,2.57-0.26l146.79,79.85c-0.87,0.12-1.73,0.21-2.57,0.26
						C835.53,407.51,786.61,380.89,737.68,354.28z"/>
				</defs>
				<clipPath id="SVGID_58_">
					<use xlink:href="#SVGID_57_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st74">
					<path class="st62" d="M875.91,433.36l-146.79-79.85c3.32,0.86,7.1,1.08,11.12,0.51l146.79,79.85
						C883.02,434.43,879.23,434.22,875.91,433.36"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_59_" class="st0" d="M737.68,354.28c56.55,12.61,97.86,53.23,146.79,79.85c-5.14,0.31-9.78-0.69-13.4-2.66
						l-146.79-79.85C727.89,353.59,732.54,354.58,737.68,354.28z"/>
				</defs>
				<clipPath id="SVGID_60_">
					<use xlink:href="#SVGID_59_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st75">
					<path class="st60" d="M871.06,431.47l-146.79-79.85c0.23,0.13,0.47,0.25,0.71,0.37l146.79,79.85
						C871.53,431.72,871.3,431.6,871.06,431.47"/>
					<path class="st61" d="M871.77,431.84l-146.79-79.85c1.27,0.63,2.66,1.14,4.14,1.52l146.79,79.85
						C874.43,432.98,873.05,432.46,871.77,431.84"/>
					<path class="st62" d="M875.91,433.36l-146.79-79.85c3.32,0.86,7.1,1.08,11.12,0.51l146.79,79.85
						C883.02,434.43,879.23,434.22,875.91,433.36"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_61_" class="st0" d="M756.28,320.67l146.79,79.85c-4.21-2.29-9.81-3.26-15.96-2.4l-146.79-79.85
						C746.46,317.4,752.06,318.37,756.28,320.67z"/>
				</defs>
				<clipPath id="SVGID_62_">
					<use xlink:href="#SVGID_61_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st76">
					<path class="st16" d="M887.1,398.12l-146.79-79.85c4.02-0.56,7.8-0.35,11.11,0.51l146.79,79.85
						C894.9,397.77,891.12,397.55,887.1,398.12"/>
					<path class="st17" d="M898.21,398.63l-146.79-79.85c1.48,0.38,2.87,0.89,4.14,1.52l146.79,79.85
						C901.08,399.53,899.69,399.01,898.21,398.63"/>
					<path class="st18" d="M902.35,400.15L755.57,320.3c0.24,0.12,0.48,0.24,0.71,0.37l146.79,79.85
						C902.83,400.39,902.59,400.27,902.35,400.15"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_63_" class="st0" d="M871.07,431.47l-146.79-79.85c-4.78-2.6-7.77-6.89-7.76-12.13l146.79,79.85
						C863.3,424.58,866.29,428.87,871.07,431.47z"/>
				</defs>
				<clipPath id="SVGID_64_">
					<use xlink:href="#SVGID_63_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st77">
					<path class="st14" d="M871.07,431.47l-146.79-79.85c-4.78-2.6-7.77-6.89-7.76-12.13l146.79,79.85
						C863.3,424.58,866.29,428.87,871.07,431.47"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_65_" class="st0" d="M863.31,419.34l-146.79-79.85c0.02-9.87,10.67-19.37,23.79-21.22l146.79,79.85
						C873.98,399.96,863.33,409.46,863.31,419.34z"/>
				</defs>
				<clipPath id="SVGID_66_">
					<use xlink:href="#SVGID_65_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st78">
					<path class="st14" d="M863.31,419.34l-146.79-79.85c0-1.72,0.33-3.43,0.94-5.09l146.79,79.85
						C863.64,415.91,863.31,417.62,863.31,419.34"/>
					<path class="st22" d="M864.25,414.25l-146.79-79.85c0.29-0.79,0.64-1.57,1.05-2.33l146.79,79.85
						C864.88,412.68,864.53,413.46,864.25,414.25"/>
					<path class="st21" d="M865.29,411.92l-146.79-79.85c0.37-0.69,0.8-1.38,1.26-2.04l146.79,79.85
						C866.09,410.54,865.67,411.22,865.29,411.92"/>
					<path class="st20" d="M866.56,409.88l-146.79-79.85c0.48-0.69,1.01-1.36,1.58-2l146.79,79.85
						C867.57,408.52,867.04,409.19,866.56,409.88"/>
					<path class="st19" d="M868.14,407.87l-146.79-79.85c0.63-0.72,1.32-1.41,2.06-2.07L870.2,405.8
						C869.46,406.46,868.77,407.16,868.14,407.87"/>
					<path class="st18" d="M870.2,405.8l-146.79-79.85c0.88-0.8,1.84-1.55,2.85-2.25l146.79,79.85
						C872.04,404.25,871.09,405,870.2,405.8"/>
					<path class="st17" d="M873.06,403.55L726.27,323.7c1.39-0.96,2.9-1.83,4.5-2.58l146.79,79.85
						C875.96,401.71,874.45,402.58,873.06,403.55"/>
					<path class="st16" d="M877.55,400.96l-146.79-79.85c2.92-1.38,6.15-2.37,9.55-2.84l146.79,79.85
						C883.71,398.6,880.48,399.59,877.55,400.96"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_67_" class="st0" d="M680.85,345.35c48.93,26.62,97.86,53.23,146.79,79.85c-0.58,9.11-10.05,17.71-21.96,20.06
						c-48.93-26.62-83.38-79.85-146.79-79.85C670.8,363.06,680.27,354.45,680.85,345.35z"/>
				</defs>
				<clipPath id="SVGID_68_">
					<use xlink:href="#SVGID_67_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st79">
					<path class="st62" d="M803.87,445.56l-146.79-79.85c3.4-0.48,6.63-1.47,9.56-2.84l146.79,79.85
						C810.5,444.09,807.27,445.08,803.87,445.56"/>
					<path class="st61" d="M813.43,442.71l-146.79-79.85c1.6-0.75,3.11-1.62,4.5-2.58l146.79,79.85
						C816.53,441.09,815.03,441.96,813.43,442.71"/>
					<path class="st60" d="M817.92,440.13l-146.79-79.85c1.01-0.7,1.97-1.45,2.85-2.25l146.79,79.85
						C819.89,438.67,818.94,439.43,817.92,440.13"/>
					<path class="st66" d="M820.78,437.88l-146.79-79.85c0.74-0.66,1.42-1.36,2.06-2.07l146.79,79.85
						C822.2,436.52,821.51,437.22,820.78,437.88"/>
					<path class="st67" d="M822.83,435.81l-146.79-79.85c0.57-0.65,1.1-1.32,1.58-2l146.79,79.85
						C823.94,434.49,823.41,435.16,822.83,435.81"/>
					<path class="st68" d="M824.42,433.81l-146.79-79.85c0.47-0.66,0.89-1.35,1.26-2.04l146.79,79.85
						C825.3,432.46,824.88,433.14,824.42,433.81"/>
					<path class="st69" d="M825.68,431.77l-146.79-79.85c0.41-0.76,0.76-1.54,1.05-2.33l146.79,79.85
						C826.44,430.23,826.09,431.01,825.68,431.77"/>
					<path class="st70" d="M826.73,429.44l-146.79-79.85c0.61-1.66,0.93-3.37,0.94-5.09c0-0.08,0-0.15,0-0.23
						c-0.08-5.14-3.05-9.35-7.76-11.91L819.9,412.2c4.71,2.56,7.68,6.77,7.76,11.91c0,0.08,0,0.15,0,0.23
						C827.66,426.07,827.33,427.78,826.73,429.44"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_69_" class="st0" d="M658.88,365.4c58.53,8.96,97.86,53.23,146.79,79.85c-0.59,0.12-1.2,0.22-1.8,0.3
						l-146.79-79.85C657.69,365.62,658.29,365.52,658.88,365.4z"/>
				</defs>
				<clipPath id="SVGID_70_">
					<use xlink:href="#SVGID_69_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st80">
					<path class="st62" d="M803.87,445.56l-146.79-79.85c3.4-0.48,6.63-1.47,9.56-2.84l146.79,79.85
						C810.5,444.09,807.27,445.08,803.87,445.56"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_71_" class="st0" d="M680.87,344.07c-0.15-5.05-3.11-9.19-7.75-11.72l146.79,79.85
						c4.65,2.53,7.61,6.67,7.75,11.72C778.73,397.31,729.8,370.69,680.87,344.07z"/>
				</defs>
				<clipPath id="SVGID_72_">
					<use xlink:href="#SVGID_71_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st81">
					<path class="st70" d="M826.73,429.44l-146.79-79.85c0.61-1.66,0.93-3.37,0.94-5.09c0-0.08,0-0.15,0-0.23
						c-0.08-5.14-3.05-9.35-7.76-11.91L819.9,412.2c4.71,2.56,7.68,6.77,7.76,11.91c0,0.08,0,0.15,0,0.23
						C827.66,426.07,827.33,427.78,826.73,429.44"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_73_" class="st0" d="M654.44,365.97c0.87-0.05,1.75-0.14,2.65-0.26l146.79,79.85
						c-0.89,0.13-1.77,0.21-2.64,0.26C776.81,432.59,775.85,432.07,654.44,365.97z"/>
				</defs>
				<clipPath id="SVGID_74_">
					<use xlink:href="#SVGID_73_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st82">
					<path class="st62" d="M792.75,445.05l-146.79-79.85c3.32,0.86,7.1,1.08,11.12,0.51l146.79,79.85
						C799.85,446.12,796.07,445.9,792.75,445.05"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_75_" class="st0" d="M654.44,365.97c56.52,12.67,97.86,53.24,146.79,79.85c-5.11,0.29-9.73-0.7-13.33-2.66
						l-146.79-79.85C644.71,365.27,649.33,366.26,654.44,365.97z"/>
				</defs>
				<clipPath id="SVGID_76_">
					<use xlink:href="#SVGID_75_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st83">
					<path class="st60" d="M787.9,443.16l-146.79-79.85c0.23,0.13,0.47,0.25,0.71,0.37l146.79,79.85
						C788.37,443.41,788.13,443.29,787.9,443.16"/>
					<path class="st61" d="M788.61,443.53l-146.79-79.85c1.27,0.63,2.66,1.14,4.14,1.52l146.79,79.85
						C791.27,444.66,789.88,444.15,788.61,443.53"/>
					<path class="st62" d="M792.75,445.05l-146.79-79.85c3.32,0.86,7.1,1.08,11.12,0.51l146.79,79.85
						C799.85,446.12,796.07,445.9,792.75,445.05"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_77_" class="st0" d="M673.11,332.35l146.79,79.85c-4.21-2.29-9.81-3.26-15.96-2.4l-146.79-79.85
						C663.3,329.09,668.9,330.06,673.11,332.35z"/>
				</defs>
				<clipPath id="SVGID_78_">
					<use xlink:href="#SVGID_77_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st84">
					<path class="st16" d="M803.94,409.81l-146.79-79.85c4.01-0.56,7.8-0.35,11.11,0.51l146.79,79.85
						C811.73,409.46,807.95,409.24,803.94,409.81"/>
					<path class="st17" d="M815.05,410.32l-146.79-79.85c1.48,0.38,2.87,0.9,4.15,1.52l146.79,79.85
						C817.92,411.21,816.53,410.7,815.05,410.32"/>
					<path class="st18" d="M819.19,411.84l-146.79-79.85c0.24,0.12,0.47,0.24,0.71,0.37l146.79,79.85
						C819.67,412.08,819.43,411.96,819.19,411.84"/>
				</g>
			</g>
			<g>
				<polygon class="st56" points="744.36,516.48 597.57,436.62 633.21,431.62 779.99,511.47 				"/>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_79_" class="st0" d="M787.9,443.16l-146.79-79.85c-4.78-2.6-7.77-6.89-7.76-12.13l146.79,79.85
						C780.13,436.27,783.13,440.56,787.9,443.16z"/>
				</defs>
				<clipPath id="SVGID_80_">
					<use xlink:href="#SVGID_79_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st85">
					<path class="st14" d="M787.9,443.16l-146.79-79.85c-4.78-2.6-7.77-6.89-7.76-12.13l146.79,79.85
						C780.13,436.27,783.13,440.56,787.9,443.16"/>
				</g>
			</g>
			<g class="st0">
				<defs>
					<path id="SVGID_81_" class="st0" d="M780.14,431.03l-146.79-79.85c0.02-9.87,10.67-19.37,23.79-21.22l146.79,79.85
						C790.82,411.65,780.16,421.15,780.14,431.03z"/>
				</defs>
				<clipPath id="SVGID_82_">
					<use xlink:href="#SVGID_81_"  style="overflow:visible;"/>
				</clipPath>
				<g class="st86">
					<path class="st14" d="M780.14,431.03l-146.79-79.85c0-1.72,0.33-3.43,0.94-5.09l146.79,79.85
						C780.47,427.59,780.15,429.3,780.14,431.03"/>
					<path class="st22" d="M781.08,425.93l-146.79-79.85c0.29-0.79,0.64-1.57,1.05-2.33l146.79,79.85
						C781.72,424.37,781.37,425.14,781.08,425.93"/>
					<path class="st21" d="M782.13,423.61l-146.79-79.85c0.37-0.69,0.8-1.38,1.26-2.04l146.79,79.85
						C782.92,422.23,782.5,422.91,782.13,423.61"/>
					<path class="st20" d="M783.39,421.57L636.6,341.71c0.48-0.69,1.01-1.36,1.58-2l146.79,79.85
						C784.4,420.21,783.87,420.88,783.39,421.57"/>
					<path class="st19" d="M784.98,419.56l-146.79-79.85c0.63-0.72,1.32-1.41,2.06-2.07l146.79,79.85
						C786.3,418.15,785.61,418.84,784.98,419.56"/>
					<path class="st18" d="M787.04,417.49l-146.79-79.85c0.88-0.8,1.84-1.55,2.85-2.25l146.79,79.85
						C788.88,415.94,787.92,416.69,787.04,417.49"/>
					<path class="st17" d="M789.89,415.23L643.1,335.38c1.39-0.96,2.9-1.83,4.5-2.58l146.79,79.85
						C792.79,413.4,791.28,414.27,789.89,415.23"/>
					<path class="st16" d="M794.39,412.65L647.6,332.8c2.92-1.38,6.15-2.37,9.55-2.84l146.79,79.85
						C800.54,410.28,797.31,411.27,794.39,412.65"/>
				</g>
			</g>
			<g>
				<path class="st87" d="M970.26,386.43c-13.13,1.85-23.78,11.34-23.8,21.22c-0.02,9.87,10.6,16.38,23.73,14.53l-0.12,62.57
					l-190.09,26.71l-35.64,5.01l0.05-26.82l0.05-26.81l0.05-26.81l0.1-53.63l0.05-26.82l225.73-31.72L970.26,386.43z M803.87,445.56
					c13.13-1.85,23.77-11.34,23.79-21.21c0-0.08,0-0.15,0-0.23c-0.15-9.74-10.7-16.14-23.72-14.31
					c-13.12,1.84-23.77,11.35-23.79,21.22C780.13,440.9,790.75,447.4,803.87,445.56 M887.03,433.87
					c13.12-1.84,23.77-11.34,23.79-21.21c0.02-9.87-10.6-16.38-23.73-14.54c-13.12,1.84-23.77,11.34-23.79,21.22
					C863.29,429.21,873.91,435.71,887.03,433.87"/>
			</g>
			<g>
				<path class="st57" d="M970.26,386.43l-0.07,35.75c-13.13,1.85-23.75-4.66-23.73-14.53
					C946.48,397.77,957.14,388.28,970.26,386.43z"/>
			</g>
			<g>
				<polygon class="st50" points="1196.18,247.45 1196.1,292.14 970.38,323.86 970.46,279.17 				"/>
			</g>
			<g>
				<polygon class="st48" points="970.46,279.17 823.68,199.32 1049.39,167.6 1196.18,247.45 				"/>
			</g>
			<g>
				<polygon class="st5" points="1196.45,104.44 1196.35,158.07 1018.15,183.11 1018.25,129.48 				"/>
			</g>
			<g>
				<polygon class="st88" points="1018.25,129.48 871.46,49.63 1049.66,24.58 1196.45,104.44 				"/>
			</g>
			<g>
				<polygon class="st89" points="1018.15,183.11 871.36,103.26 871.46,49.63 1018.25,129.48 				"/>
			</g>
			<g>
				<path class="st57" d="M887.1,398.12c13.12-1.84,23.74,4.67,23.73,14.54c-0.02,9.86-10.67,19.37-23.79,21.21
					c-13.12,1.84-23.74-4.67-23.73-14.53C863.33,409.46,873.98,399.96,887.1,398.12z"/>
			</g>
			<g>
				<polygon class="st39" points="988.4,214.1 988.35,240.92 952.71,245.92 952.76,219.11 				"/>
			</g>
			<g>
				<polygon class="st31" points="952.71,245.92 805.92,166.07 805.97,139.25 952.76,219.11 				"/>
			</g>
			<g>
				<polygon class="st40" points="952.76,219.11 805.97,139.25 841.61,134.25 988.4,214.1 				"/>
			</g>
			<g>
				<polygon class="st88" points="940.93,193.96 794.14,114.11 853.54,105.76 1000.32,185.62 				"/>
			</g>
			<g>
				<polygon class="st49" points="970.63,189.79 823.84,109.94 823.99,29.5 970.78,109.35 				"/>
			</g>
			<g>
				<polygon class="st5" points="1000.32,185.62 1000.28,212.43 988.4,214.1 952.76,219.11 940.88,220.77 940.93,193.96 				"/>
			</g>
			<g>
				<polygon class="st89" points="940.88,220.77 794.09,140.92 794.14,114.11 940.93,193.96 				"/>
			</g>
			<g>
				<polygon class="st50" points="1018.3,102.67 1018.25,129.48 1018.15,183.11 970.63,189.79 970.78,109.35 				"/>
			</g>
			<g>
				<polygon class="st48" points="970.78,109.35 823.99,29.5 871.51,22.82 1018.3,102.67 				"/>
			</g>
			<g>
				<polygon class="st57" points="779.99,511.47 779.93,547.22 744.29,552.23 744.36,516.48 				"/>
			</g>
			<g>
				<polygon class="st58" points="744.29,552.23 597.5,472.38 597.57,436.62 744.36,516.48 				"/>
			</g>
			<g>
				<polygon class="st90" points="744.36,516.48 597.57,436.62 597.62,409.8 744.41,489.66 				"/>
			</g>
			<g>
				<path class="st57" d="M803.94,409.81c13.02-1.83,23.58,4.57,23.72,14.31c0,0.08,0,0.15,0,0.23
					c-0.02,9.86-10.67,19.37-23.79,21.21c-13.12,1.84-23.74-4.67-23.73-14.53C780.16,421.15,790.82,411.65,803.94,409.81z"/>
			</g>
			<g>
				<polygon class="st90" points="744.41,489.66 597.62,409.8 597.67,382.99 744.46,462.85 				"/>
			</g>
			<g>
				<polygon class="st91" points="923.25,116.03 776.47,36.18 823.99,29.5 970.78,109.35 				"/>
			</g>
			<g>
				<polygon class="st92" points="970.78,109.35 970.63,189.79 923.1,196.47 923.25,116.03 				"/>
			</g>
			<g>
				<polygon class="st93" points="923.1,196.47 776.32,116.62 776.47,36.18 923.25,116.03 				"/>
			</g>
			<g>
				<polygon class="st90" points="744.46,462.85 597.67,382.99 597.72,356.18 744.51,436.03 				"/>
			</g>
			<g>
				<polygon class="st90" points="744.51,436.03 597.72,356.18 597.82,302.55 744.61,382.4 				"/>
			</g>
			<g>
				<polygon class="st50" points="744.46,462.85 744.41,489.66 696.88,496.34 696.93,469.53 				"/>
			</g>
			<g>
				<polygon class="st49" points="696.88,496.34 550.09,416.48 550.14,389.67 696.93,469.53 				"/>
			</g>
			<g>
				<polygon class="st48" points="696.93,469.53 550.14,389.67 597.67,382.99 744.46,462.85 				"/>
			</g>
			<g>
				<polygon class="st94" points="744.66,355.58 597.87,275.73 823.59,244.01 970.38,323.86 				"/>
			</g>
			<g>
				<polygon class="st90" points="744.61,382.4 597.82,302.55 597.87,275.73 744.66,355.58 				"/>
			</g>
			<g>
				<polygon class="st40" points="696.98,442.71 550.19,362.86 597.72,356.18 744.51,436.03 				"/>
			</g>
			<g>
				<polygon class="st31" points="696.93,469.53 550.14,389.67 550.19,362.86 696.98,442.71 				"/>
			</g>
			<g>
				<polygon class="st39" points="744.51,436.03 744.46,462.85 696.93,469.53 696.98,442.71 				"/>
			</g>
			<g>
				<polygon class="st93" points="744.66,355.58 597.87,275.73 597.95,231.04 744.74,310.89 				"/>
			</g>
			<g>
				<polygon class="st91" points="744.74,310.89 597.95,231.04 823.68,199.32 970.46,279.17 				"/>
			</g>
			<g>
				<polygon class="st48" points="697.08,389.08 550.29,309.23 597.82,302.55 744.61,382.4 				"/>
			</g>
			<g>
				<polygon class="st50" points="744.79,284.08 744.66,355.58 697.13,362.26 697.26,290.76 				"/>
			</g>
			<g>
				<polygon class="st92" points="970.46,279.17 970.38,323.86 744.66,355.58 744.74,310.89 				"/>
			</g>
			<g>
				<polygon class="st49" points="696.98,442.71 550.19,362.86 550.29,309.23 697.08,389.08 				"/>
			</g>
			<g>
				<polygon class="st50" points="744.61,382.4 744.51,436.03 696.98,442.71 697.08,389.08 				"/>
			</g>
			<g>
				<polygon class="st48" points="697.26,290.76 550.47,210.91 598,204.23 744.79,284.08 				"/>
			</g>
			<g>
				<polygon class="st49" points="697.13,362.26 550.34,282.41 550.47,210.91 697.26,290.76 				"/>
			</g>
		</g>
		<g class="st0">
			<g>
				<polygon class="st39" points="923.2,142.84 923.1,196.47 744.9,221.51 745,167.88 				"/>
			</g>
			<g>
				<polygon class="st31" points="744.9,221.51 598.12,141.66 598.22,88.03 745,167.88 				"/>
			</g>
			<g>
				<polygon class="st40" points="745,167.88 598.22,88.03 776.42,62.99 923.2,142.84 				"/>
			</g>
			<g>
				<polygon class="st92" points="745,167.88 744.9,221.51 744.79,284.08 697.26,290.76 697.48,174.56 				"/>
			</g>
			<g>
				<polygon class="st93" points="697.26,290.76 550.47,210.91 550.69,94.71 697.48,174.56 				"/>
			</g>
			<g>
				<polygon class="st91" points="697.48,174.56 550.69,94.71 598.22,88.03 745,167.88 				"/>
			</g>
		</g>
	</g>
</g>
</svg>

    </div>
</template>

<style type="text/css" scoped>
    svg{
		height: 100%;
		width:100%;
		background: none;
	}
	.st0{enable-background:new    ;}
	.st1{fill:#434343;}
	.st2{fill:#232323;}
	.st3{fill:#484848;}
	.st4{fill:#5A5A5A;}
	.st5{fill:#545454;}
	.st6{fill:#939393;}
	.st7{fill:#767676;}
	.st8{fill:#303030;}
	.st9{fill:#2D2D2D;}
	.st10{fill:#A90009;}
	.st11{fill:#630005;}
	.st12{fill:#890007;}
	.st13{clip-path:url(#SVGID_2_);enable-background:new    ;}
	.st14{fill:#852007;}
	.st15{clip-path:url(#SVGID_4_);enable-background:new    ;}
	.st16{fill:#A82809;}
	.st17{fill:#A32708;}
	.st18{fill:#9E2608;}
	.st19{fill:#992508;}
	.st20{fill:#942308;}
	.st21{fill:#8F2207;}
	.st22{fill:#8A2107;}
	.st23{clip-path:url(#SVGID_6_);enable-background:new    ;}
	.st24{clip-path:url(#SVGID_8_);enable-background:new    ;}
	.st25{clip-path:url(#SVGID_10_);enable-background:new    ;}
	.st26{clip-path:url(#SVGID_12_);enable-background:new    ;}
	.st27{clip-path:url(#SVGID_14_);enable-background:new    ;}
	.st28{fill:#800007;}
	.st29{fill:#7C0006;}
	.st30{fill:#780006;}
	.st31{fill:#494949;}
	.st32{clip-path:url(#SVGID_16_);enable-background:new    ;}
	.st33{fill:#650005;}
	.st34{clip-path:url(#SVGID_18_);enable-background:new    ;}
	.st35{fill:#690005;}
	.st36{fill:#6D0006;}
	.st37{fill:#710006;}
	.st38{fill:#740006;}
	.st39{fill:#7D7D7D;}
	.st40{fill:#656565;}
	.st41{clip-path:url(#SVGID_20_);enable-background:new    ;}
	.st42{clip-path:url(#SVGID_22_);enable-background:new    ;}
	.st43{clip-path:url(#SVGID_24_);enable-background:new    ;}
	.st44{clip-path:url(#SVGID_26_);enable-background:new    ;}
	.st45{clip-path:url(#SVGID_28_);enable-background:new    ;}
	.st46{clip-path:url(#SVGID_30_);enable-background:new    ;}
	.st47{clip-path:url(#SVGID_32_);enable-background:new    ;}
	.st48{fill:#878787;}
	.st49{fill:#626262;}
	.st50{fill:#A7A7A7;}
	.st51{clip-path:url(#SVGID_34_);enable-background:new    ;}
	.st52{clip-path:url(#SVGID_36_);enable-background:new    ;}
	.st53{clip-path:url(#SVGID_38_);enable-background:new    ;}
	.st54{clip-path:url(#SVGID_40_);enable-background:new    ;}
	.st55{clip-path:url(#SVGID_42_);enable-background:new    ;}
	.st56{fill:#B42B09;}
	.st57{fill:#DF350B;}
	.st58{fill:#821F07;}
	.st59{clip-path:url(#SVGID_44_);enable-background:new    ;}
	.st60{fill:#9E4200;}
	.st61{fill:#A34400;}
	.st62{fill:#A84600;}
	.st63{clip-path:url(#SVGID_46_);enable-background:new    ;}
	.st64{clip-path:url(#SVGID_48_);enable-background:new    ;}
	.st65{clip-path:url(#SVGID_50_);enable-background:new    ;}
	.st66{fill:#994000;}
	.st67{fill:#943D00;}
	.st68{fill:#8F3B00;}
	.st69{fill:#8A3900;}
	.st70{fill:#853700;}
	.st71{clip-path:url(#SVGID_52_);enable-background:new    ;}
	.st72{clip-path:url(#SVGID_54_);enable-background:new    ;}
	.st73{clip-path:url(#SVGID_56_);enable-background:new    ;}
	.st74{clip-path:url(#SVGID_58_);enable-background:new    ;}
	.st75{clip-path:url(#SVGID_60_);enable-background:new    ;}
	.st76{clip-path:url(#SVGID_62_);enable-background:new    ;}
	.st77{clip-path:url(#SVGID_64_);enable-background:new    ;}
	.st78{clip-path:url(#SVGID_66_);enable-background:new    ;}
	.st79{clip-path:url(#SVGID_68_);enable-background:new    ;}
	.st80{clip-path:url(#SVGID_70_);enable-background:new    ;}
	.st81{clip-path:url(#SVGID_72_);enable-background:new    ;}
	.st82{clip-path:url(#SVGID_74_);enable-background:new    ;}
	.st83{clip-path:url(#SVGID_76_);enable-background:new    ;}
	.st84{clip-path:url(#SVGID_78_);enable-background:new    ;}
	.st85{clip-path:url(#SVGID_80_);enable-background:new    ;}
	.st86{clip-path:url(#SVGID_82_);enable-background:new    ;}
	.st87{fill:#DF5D00;}
	.st88{fill:#444444;}
	.st89{fill:#313131;}
	.st90{fill:#823600;}
	.st91{fill:#A4A4A4;}
	.st92{fill:#CBCBCB;}
	.st93{fill:#777777;}
	.st94{fill:#B44B00;}
</style>