<template>
    <div id="chart">
        <apexchart type="line" height="350" ref="realtimeChart" :options="chartOptions" :series="series"></apexchart>
      </div>
</template>
<script>
/* eslint-disable */
export default {
    computed:{
        series(){
            return this.$store.getters.productSeries
        }
    },
    data(){
        return{
        // series: [{
        //     data: [10, 41, 35, 51, 49, 62, 69, 91, 99]
        //   },
        //   {
        //     data: [99, 41, 35, 51, 69, 62, 35, 35, 99]
        //   }],
        chartOptions: {
            chart: {
              id: 'realtime',
              height: 350,
              type: 'line',
              animations: {
                enabled: true,
                easing: 'linear',
                dynamicAnimation: {
                  speed: 1000
                }
              },
              toolbar: {
                show: false
              },
              zoom: {
                enabled: false
              }
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              text: 'TimeLine',
              align: 'left'
            },
            markers: {
              size: 0
            },
            // xaxis: {
            //   type: 'datetime',
            //   range: XAXISRANGE,
            // },
            // yaxis: {
            //   max: 100
            // },
            legend: {
              show: false
            },
          },
        }
    },
    methods: {
    getRandomArbitrary (min, max) {
      return Math.floor(Math.random() * 99)
    },
    setDataLineChart () {
      setInterval(() => {
        this.series[0].data.splice(0, 1)
        this.series[0].data.push(this.getRandomArbitrary(0, 99))
        this.updateSeriesLine()
      }, 10 * 1000)
    },
    updateSeriesLine () {
      this.$refs.realtimeChart.updateSeries([{
        data: this.series[0].data
      }], false, true)
    }
  },
    mounted: function () {
        //   var me = this
        //   window.setInterval(function () {
        //     getNewSeries(lastDate, {
        //       min: 10,
        //       max: 90
        //     })
            
        //     me.$refs.chart.updateSeries([{
        //       data: data
        //     }])
        //   }, 1000)
        
        //   // every 60 seconds, we reset the data to prevent memory leaks
        //   window.setInterval(function () {
        //     resetData()
            
        //     me.$refs.chart.updateSeries([{
        //       data
        //     }], false, true)
        //   }, 60000)
        },
}
</script>
<style scoped>

</style>