<template>
    <div id="chart">
        <apexchart type="line" height="350" ref="realtimeChart" :options="chartOptions" :series="series"></apexchart>
      </div>
</template>
<script>
/* eslint-disable */
export default {
    computed:{
        series(){
            return this.$store.getters.productSeries
        }
    },
    data(){
        return{
        // series: [{
        //     data: [10, 41, 35, 51, 49, 62, 69, 91, 99]
        //   },
        //   {
        //     data: [99, 41, 35, 51, 69, 62, 35, 35, 99]
        //   }],
        chartOptions: {
            chart: {
              id: 'realtime',
              height: 350,
              type: 'line',
              animations: {
                enabled: true,
                easing: 'linear',
                dynamicAnimation: {
                  speed: 1000
                }
              },
              toolbar: {
                show: false
              },
              zoom: {
                enabled: false
              }
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              text: 'TimeLine',
              align: 'left'
            },
            markers: {
              size: 0
            },
            // xaxis: {
            //   type: 'datetime',
            //   range: XAXISRANGE,
            // },
            // yaxis: {
            //   max: 100
            // },
            legend: {
              show: true
            },
          },
        }
    },
    methods: {
      setDataLineChart () {
        setInterval(() => {
          this.$store.commit('getProductData');
          this.updateSeriesLine()
        }, 3000)
      },
      updateSeriesLine () {
        this.$refs.realtimeChart.updateSeries(this.series, false, true);
      }
    },
    mounted: function () {
        this.setDataLineChart();
    },
}
</script>
<style scoped>

</style>