<template>
    <div class="sidebar">
        <ul class="appWrapper__appBar" style="height:100%;">
            <li class="appBar__item" :class="{'is-activated':currentPath == '#/' || currentPath==''}">
                <a href="/#/" @click="currentPath = '#/'">
                    <span class="iconMdsp dashboard" aria-hidden="true"></span>
                    <span class="item__title">Dashboard</span>
                </a>
            </li>
            <li class="appBar__item" :class="{'is-activated':currentPath == '#/factory'}">
                <a href="/#/factory" @click="currentPath = '#/factory'">
                    <span class="iconMdsp factoryMagnifier" aria-hidden="true"></span>
                    <span class="item__title">Factory</span>
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
/* eslint-disable */
export default {
    name: 'SideBar',
    data(){
        return {
            currentPath: window.location.hash
        }
    }
}
</script>