<template>
  <div class="dashboard">
    <div
      class="appWrapper__regions has-appBar has-leadingRegion contextRegion-is-expanded leadingRegion-is-expanded appWrapper__regions--pushLayout"
    >
      <section class="leadingRegion">
        <!-- content for leading region goes here -->
        <mdsp-asset-view
          v-on:selectedAssetChanged="assetChange"
          v-on:searchTextChanged="searchTextChanged"
          view-mode="Tree"
          error-notification="true"
          class="component-border"
          shared-assets="true"
        ></mdsp-asset-view>
      </section>
      <section class="mainRegion">
        <!-- content for main region goes here -->
        <div class="row">
          <div class="col-6" style="margin-top:3rem;">
            <mdsp-aspect-variable-selector
              v-on:selectedAspectsAndVariablesChanged="selectedAspectsAndVariablesChanged"
              error-notification="true"
              class="component-border"
              category="Dynamic"
              data-types="INT,LONG,DOUBLE"
              view-mode="All"
              shared-assets="true"
            ></mdsp-aspect-variable-selector>
          </div>
          <div class="col-6">
            <mdsp-date-time-range-picker
              v-on:dateRangeChanged="dateChange"
              error-notification="true"
              right-aligned="true"
              locale="en"
            ></mdsp-date-time-range-picker>
            <mdsp-aggregate-chart
              error-notification="true"
              class="component-border"
              wheel-zoom="true"
              shared-assets="true"
            ></mdsp-aggregate-chart>
          </div>
        </div>
        <div class="row" style="margin-top:3rem;">
          <div class="col-6" style="min-height:300px;">
            <mdsp-asset-map
              v-on:assetsClicked="assetChange"
              v-on:selectedAssetChanged="assetChange"
              error-notification="true"
              zoom-level="2"
              draggable="true"
              latitude="25.058703"
              longitude="121.611999"
              class="component-border"
              asset-click-handler="SelectionList"
            ></mdsp-asset-map>
          </div>
          <div class="col-6">
            <mdsp-event-view
              class="component-border"
              v-on:selectedEventsChanged="selectedEventChanged"
              error-notification="true"
              selectable="true"
              sort="severity,asc"
              pager-mode="Advanced"
            ></mdsp-event-view>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  name: "Dashboard",
  data() {
    return {
      assetId: "",
      currentAsset: {},
      selectedEvents: [],
      dateRange: {
        from: new Date(new Date().setDate(new Date().getDate() - 7)),
        to: new Date()
      }
    };
  },
  methods: {
    assetChange(e) {
      const eventView = this.$el.querySelector("mdsp-event-view");
      this.currentAsset = e.detail;
      eventView.assetId = this.currentAsset.assetId;
      this.selectedEvents = [];
      const aspectVariableSelector = this.$el.querySelector(
        "mdsp-aspect-variable-selector"
      );
      aspectVariableSelector.selectedAssetIds = [e.detail.assetId];
    },
    searchTextChanged(e) {
      const map = this.$el.querySelector("mdsp-asset-map");
      if (map) map.searchText = e.detail;
    },
    dateChange(e) {
      const eventView = this.$el.querySelector("mdsp-event-view");
      this.dateRange = e.detail;
      eventView.dateRange = this.dateRange;
      const aggregateChart = this.$el.querySelector("mdsp-aggregate-chart");
      aggregateChart.dateRange = this.dateRange;
    },
    refreshEventView() {
      const eventView = this.$el.querySelector("mdsp-event-view");
      eventView.model.refresh();
    },
    refreshAggregateChart() {
      const aggregateChart = this.$el.querySelector("mdsp-aggregate-chart");
      aggregateChart.model.refresh();
    },
    selectedEventChanged(e) {
      this.selectedEvents = [];
      this.selectedEvents.push(e.detail);
    },
    selectedAspectsAndVariablesChanged(e) {
      const aggregateChart = this.$el.querySelector("mdsp-aggregate-chart");
      aggregateChart.variablePaths = e.detail;
      console.log(e.detail);
      aggregateChart.dateRange = this.dateRange;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
