<template>
  <!-- eslint-disable  -->
  <div class="content" style="width:100%;height:100%;">
    <Notification :isShown="noti" v-on:closeNoti="closeNoti" />
    <Schedule :isShown="schedule" v-on:closeSchedule="closeSchedule" />
    <Maintenance :isShown="main" v-on:closeMain="closeMain" />
    <div class="row" style="margin-bottom:0rem;">
      <div class="col-9">
        <div class="row">
          <div class="col-12">
            <a
              class="button button--secondary"
              href="/#/factory"
              @click="noti=!noti"
              style="float:left;padding-left:.5rem;padding-right:.5rem;"
            >
              <i aria-hidden="true" class="iconMdsp notification" :class="{black:hasNoti}"></i>Notification
            </a>
            <a
              class="button button--secondary"
              href="/#/factory"
              @click="schedule=!schedule"
              style="float:left;padding-left:.5rem;padding-right:.5rem;"
            >
              <i aria-hidden="true" class="iconMdsp calendar"></i>Schedule
            </a>
            <a
              class="button button--secondary"
              href="/#/factory"
              @click="main=!main"
              style="float:left;padding-left:.5rem;padding-right:.5rem;"
            >
              <i aria-hidden="true" class="iconMdsp maintenance"></i>Maintenance
            </a>
            <a
              class="button button--secondary"
              href="/#/report"
              style="float:left;padding-left:.5rem;padding-right:.5rem;"
            >
              <i aria-hidden="true" class="iconMdsp filetypeText"></i>Report
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-4" style="padding:1rem;">
            <div class="card">
              <div class="card__header">
                <h3 class="card__title">Machine Tool</h3>
                <p class="card__subline">Live Status</p>
              </div>
              <div class="card__content">
                <img src="@/assets/tick.png" style="height:100px;" />
              </div>
              <div class="card__footer is-left-aligned">
                <a href="/#/machine" class="button button--ghost has-icon-only">
                  <span aria-hidden="true" class="iconMdsp audit"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-4" style="padding:1rem;">
            <div class="card">
              <div class="card__header">
                <h3 class="card__title">Product Line</h3>
                <p class="card__subline">Live Status</p>
              </div>
              <div class="card__content">
                <img src="@/assets/tick.png" style="height:100px;" />
              </div>
              <div class="card__footer is-left-aligned">
                <a href="/#/product" class="button button--ghost has-icon-only">
                  <span aria-hidden="true" class="iconMdsp audit"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-4" style="padding:1rem;">
            <div class="card">
              <div class="card__header">
                <h3 class="card__title">Printer Machine</h3>
                <p class="card__subline">Live Status</p>
              </div>
              <div class="card__content">
                <img src="@/assets/close.png" style="height:100px;" />
              </div>
              <div class="card__footer">
                <a href="/#/printer" class="button button--ghost has-icon-only">
                  <span aria-hidden="true" class="iconMdsp audit"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <MachineStatus />
      </div>
    </div>
    <div class="row align-items-end" style="height:75%;bakcground:black;">
      <Area style="width:100%;height:100%;" />
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import Area from "./svg/Area.vue";
import MachineStatus from "./charts/machineStatus.vue";
import Notification from "./dialog/Notification.vue";
import Schedule from "./dialog/Schedule.vue";
import Maintenance from "./dialog/Maintenance.vue";
export default {
  name: "Factory",
  components: {
    Area,
    MachineStatus,
    Notification,
    Schedule,
    Maintenance
  },
  data() {
    return {
      hasNoti: false,
      noti: false,
      schedule: false,
      main: false
    };
  },
  methods: {
    closeNoti() {
      this.noti = !this.noti;
    },
    closeSchedule() {
      this.schedule = !this.schedule;
    },
    closeMain() {
      this.main = !this.main;
    }
  },
  created() {
    setInterval(() => {
      this.hasNoti = !this.hasNoti;
    }, 2000);
  }
};
</script>
<style scoped>
.content {
  margin: auto;
  padding: 1rem 1rem 1rem 5.9rem;
}
.card .card__title {
  position: relative;
  margin: auto;
}
</style>