.gauge{
    height: 175px;
}

.inner-text {
    height: 150px;
    line-height: 200px;
    text-align: center;
}
.inner-text span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}