<template>
    <div id="productivity">
        <VueSvgGauge
          class="gauge"
          :start-angle="-120"
          :end-angle="120"
          :value="(this.yield / (1440 * 70)) * 100"
          :separator-step="20"
          :scale-interval="10"
          :inner-radius="80"
        >
        <div class="inner-text">
          <span><b>Machine Tool</b><br>Yield: {{ this.yield }}({{Math.round((this.yield / (1440 * 70)) * 100)}}%)<hr>Expected: {{1440 * 70}}</span>
        </div>
        </VueSvgGauge>
      </div>
</template>
<script>
/* eslint-disable */
export default {
  name: 'MachineToolPro',
  data(){
    return {
      date: ''
    }
  },
  computed:{
    yield(){
      return this.$store.getters.yield.machine;
    }
  }
}
</script>
<style src="./common.scss" lang="scss" scoped/>