<template>
    <div id="productivity">
        <VueSvgGauge
          class="gauge"
          :start-angle="-120"
          :end-angle="120"
          :value="0"
          :separator-step="20"
          :scale-interval="10"
          :inner-radius="80"
        >
        <div class="inner-text">
          <span><b>Printer</b><br>Yield: {{0}}<hr>Expected: 1440</span>
        </div>
        </VueSvgGauge>
      </div>
</template>
<script>
/* eslint-disable */
export default {
  name: 'PrinterPro'
}
</script>
<style src="./common.scss" lang="scss" scoped/>