<template>
<div class="dialog dialog--frameless" :class="{'is-shown':isShown}">
    <div class="dialog__overlay"></div>
    <div class="dialog__container">
        <div class="dialog__background">
            <header class="dialog__title">
                Machine Schedule
                <a class="dialog__close" href="/#/factory" @click="close" title="Close dialog"></a>
            </header>
            <section class="dialog__content" style="padding:1rem;">
                <apexchart style="width:100%;" type="rangeBar" height="350" :options="chartOptions" :series="series"></apexchart>
            </section>
        </div>
    </div>
</div>
</template>
<script>
/* eslint-disable */
import moment from 'moment'
export default {
    name: "Maintenance",
    props:{
        isShown: {
            type: Boolean,
            default: false
        }
    },
    data(){
        return{
            series: [
            {
              name: 'Working',
              data: [
                {
                  x: 'Machine Tool',
                  y: [
                    new Date('2020-06-10').getTime(),
                    new Date('2020-06-24').getTime()
                  ]
                },
                {
                  x: 'Product Line',
                  y: [
                    new Date('2020-06-10').getTime(),
                    new Date('2020-06-28').getTime()
                  ]
                },
                {
                  x: 'Printer Machine',
                  y: [
                    new Date('2020-06-21').getTime(),
                    new Date('2020-06-30').getTime()
                  ]
                }
              ]
            },
            {
              name: 'Maintenance',
              data: [
                {
                  x: 'Machine Tool',
                  y: [
                    new Date('2020-06-25').getTime(),
                    new Date('2020-06-26').getTime()
                  ]
                },
                {
                  x: 'Product Line',
                  y: [
                    new Date('2020-06-29').getTime(),
                    new Date('2020-07-01').getTime()
                  ]
                },
                {
                  x: 'Printer Machine',
                  y: [
                    new Date('2020-07-01').getTime(),
                    new Date('2020-07-02').getTime()
                  ]
                }
              ]
            },
            {
              name: 'Repaire',
              data: [
                // {
                //   x: 'Machine Tool',
                //   y: [
                //     new Date('2019-03-02').getTime(),
                //     new Date('2019-03-05').getTime()
                //   ]
                // },
                // {
                //   x: 'Product Line',
                //   y: [
                //     new Date('2019-03-06').getTime(),
                //     new Date('2019-03-09').getTime()
                //   ]
                // },
                {
                  x: 'Printer Machine',
                  y: [
                    new Date('2020-06-13').getTime(),
                    new Date('2020-06-20').getTime()
                  ]
                }
              ]
            }
          ],
          chartOptions: {
            chart: {
              height: 350,
              type: 'rangeBar'
            },
            plotOptions: {
              bar: {
                horizontal: true
              }
            },
            dataLabels: {
              enabled: true,
              formatter: function(val) {
                var a = moment(val[0])
                var b = moment(val[1])
                var diff = b.diff(a, 'days')
                return diff + (diff > 1 ? ' days' : ' day')
              }
            },
            fill: {
              type: 'gradient',
              gradient: {
                shade: 'light',
                type: 'vertical',
                shadeIntensity: 0.25,
                gradientToColors: undefined,
                inverseColors: true,
                opacityFrom: 1,
                opacityTo: 1,
                stops: [50, 0, 100, 100]
              }
            },
            xaxis: {
              type: 'datetime'
            },
            legend: {
              position: 'top'
            }
          },
        }
    },
    methods:{
        close(){
            this.$emit('closeMain');
        }
    }
}
</script>