<template>
<div class="dialog dialog--frameless" :class="{'is-shown':isShown}">
    <div class="dialog__overlay"></div>
    <div class="dialog__container">
        <div class="dialog__background">
            <header class="dialog__title">
                Notification
                <a class="dialog__close" href="/#/factory" @click="close" title="Close dialog"></a>
            </header>
            <section class="dialog__content">
                <div class="list">
                    <ul class="list__list">
                        <li class="list__item">
                            <div class="item__content">
                                <div class="content__column content__column--primary xs-100 sm-60 md-60 lg-60 xl-60">
                                    <h4 class="item__title">
                                        Printer Machine
                                    </h4>
                                    <div class="item__description">
                                        Machine down for some reasons that needs to be repaired.
                                    </div>
                                </div>
                                <div class="content__column xs-50 sm-25 md-25 lg-10 xl-10">
                                </div>
                                <div class="content__column has-alignment-right xs-50 sm-5 md-5 lg-20 xl-20">
                                    <i aria-hidden="true" class="iconMdsp attention black has-color-validationRed"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
</template>
<script>
export default {
    name: "Message",
    props:{
        isShown: {
            type: Boolean,
            default: false
        }
    },
    methods:{
        close(){
            this.$emit('closeNoti');
        }
    }
}
</script>