<template>
  <div class="dialog dialog--frameless" :class="{'is-shown':isShown}">
    <div class="dialog__overlay"></div>
    <div class="dialog__container" style="height:75%;">
      <div class="dialog__background">
        <header class="dialog__title">
          Schedule
          <a class="dialog__close" href="/#/factory" @click="close" title="Close dialog"></a>
        </header>
        <section class="dialog__content" style="padding:1rem;">
          <v-date-picker
            mode="single"
            v-model="date"
            color="red"
            is-light
            is-inline
            is-expanded
            style="margin-bottom:1rem;"
          />
          <div class="list">
            <div class="list__header" style="border-bottom:1px lightgrey solid;">Events</div>
            <div v-if="todayList.length<1" class="messageWrapper" style="margin:auto;">
              <div class="message is-info message--withIcon">
                <h1 class="message__headline">Info</h1>
                <p>Today has no events.</p>
              </div>
            </div>
            <ul v-else class="list__list" v-for="event in todayList" :key="event.id">
              <li class="list__item">
                <div class="item__icon">
                  <span class="iconMdsp asset" aria-hidden="true"></span>
                </div>
                <div class="item__content">
                  <div
                    class="content__column content__column--primary has-default-width-20 xs-100 sm-66 md-33 lg-20 xl-20"
                  >
                    <h4 class="item__title">
                      <span v-if="event.severity == 20">Error</span>
                      <span v-else-if="event.severity == 30">Warning</span>
                      <span v-else>Information</span>
                    </h4>
                    <div class="item__description">{{ event.description }}</div>
                  </div>
                  <div
                    class="content__column has-default-width-20 xs-100 sm-10 md-25 lg-10 xl-10 xs-hide"
                  >
                    <span
                      class="badge has-bgColor-gray400 has-color-snow"
                    >{{ event.timestamp.slice(11,16) }}</span>
                    <div v-if="!event.acknowledged">
                      <div v-if="event.severity == 20">
                        <i
                          aria-hidden="true"
                          class="iconMdsp errorAlert black has-color-validationRed"
                        ></i>
                      </div>
                      <div v-else-if="event.severity == 30">
                        <i
                          aria-hidden="true"
                          class="iconMdsp exclamationDiamond black has-color-warning"
                        ></i>
                      </div>
                      <div v-else>
                        <i
                          aria-hidden="true"
                          class="iconMdsp attention black has-color-stateBlue100"
                        ></i>
                      </div>
                    </div>
                    <div v-else>
                      <i aria-hidden="true" class="iconMdsp ok black has-color-functionalGreen"></i>
                    </div>
                  </div>
                  <div
                    class="content__column has-alignment-right has-default-width-20 xs-100 sm-10 md-25 lg-10 xl-10"
                  >
                    <button class="button--secondary has-icon-only">
                      <span class="iconMdsp clipboardCheck" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import moment from "moment";
export default {
  name: "Schedule",
  props: {
    isShown: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    events() {
      return this.$store.getters.events;
    },
    todayList() {
      let result;
      let events = this.$store.getters.events;
      if (events.length > 0) {
        result = events.filter(event => {
          return (
            event.timestamp.slice(0, 10) == this.date.toISOString().slice(0, 10)
          );
        });
      } else result = [];

      return result;
    }
  },
  data() {
    return {
      date: new Date()
    };
  },
  methods: {
    close() {
      this.$emit("closeSchedule");
    }
  }
};
</script>