<template>
    <div>
        <apexchart class="barChart" ref="realtimeChart" type="bar" height="100" :options="chartOptions" :series="series"></apexchart>
    </div>
</template>
<script>
/* eslint-disable */
var trigoStrength = 3
var iteration = 11
export default {
    computed: {
        series(){
            return [
                {
                    name:'Printer',
                    data: this.$store.getters.productStatus
                }
            ]
        }
    },
    data () {
    return {
    //   series: [{
    //     name: 'Desktops',
    //     data: [10, 41, 35, 51, 49, 62, 69, 91, 99]
    //   }],
      chartOptions: {
        colors: ['#FCCF31', '#17ead9', '#f02fc2'],
        chart: {
            height: 100,
            type: 'bar',
            toolbar:{
                show: false
            },
            animations: {
                enabled: true,
                easing: 'linear',
                dynamicAnimation: {
                    speed: 1000
                }
            },
        },
        title: {
              text: 'Printer',
              align: 'left'
        },
        dataLabels: {
          enabled: false
        },
        // tooltip:{
        //     enabled: false
        // },
        grid:{
            show: false,
            padding: {
                top: 0,
                right: 0,
                bottom: 0,
                left: 0
            },  
        },
        xaxis: {
        //   categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
          labels: {
              show: false
            // style: {
            //   colors: '#fff'
            // }
          }
        },
        yaxis: {
            show: false,
          labels: {
            style: {
              color: '#fff'
            }
          }
        },
      }
    }
  },
  mounted () {
    // this.setDataLineChart()
  },
  methods: {
    getRandomArbitrary (min, max) {
      return Math.floor(Math.random() * 99)
    },
    setDataLineChart () {
      setInterval(() => {
        this.series[0].data.splice(0, 1)
        this.series[0].data.push(this.getRandomArbitrary(0, 99))
        this.updateSeriesLine()
      }, 3000)
    },
    updateSeriesLine () {
      this.$refs.realtimeChart.updateSeries([{
        data: this.series[0].data
      }], false, true)
    }
  }
}
</script>
<style scoped>
.barChart{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
</style>