<template>
  <div class="appWrapper" id="app">
    <SideBar/>
    <router-view style="overflow-y: scroll;"/>
  </div>
</template>

<script>
/* eslint-disable */
// Side Bar
import SideBar from './components/layout/SideBar.vue'
// Pages
import Dashboard from './components/Dashboard.vue'
import Factory from './components/Factory.vue'

export default {
  name: 'App',
  components: {
    SideBar,
    Dashboard,
    Factory
  },
  created(){
    this.$store.commit('getMachineStatus');
    this.$store.commit('getProductData');
    this.$store.commit('getEvent');
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
  /*
  width: 100vw; */
  height: calc(100vh + -2.7rem);
  overflow: hidden;
  /* background: darkblue; */
}
</style>